<section class="about">
    <div class="about__container container">
        <div class="about__item">
            <img src="img/bgimg1.png" alt="" class="bg-img">
            <h2>Мы живем в мире, где все постоянно стремятся изменить друг друга</h2>
            <svg width="1600" height="1359" viewBox="0 0 1600 1359" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.34" filter="url(#filter0_f_2012_3079)">
                    <path
                        d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
                        fill="url(#paint0_linear_2012_3079)" />
                    <path
                        d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
                        fill="url(#paint1_radial_2012_3079)" />
                    <path
                        d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
                        fill="url(#paint2_angular_2012_3079)" fill-opacity="0.4" />
                </g>
                <defs>
                    <filter id="filter0_f_2012_3079" x="0" y="0" width="1756" height="1359" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_2012_3079" />
                    </filter>
                    <linearGradient id="paint0_linear_2012_3079" x1="878" y1="400" x2="878" y2="959"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF764C" />
                        <stop offset="1" stop-color="#FFEFC3" />
                    </linearGradient>
                    <radialGradient id="paint1_radial_2012_3079" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(1303.72 822.889) rotate(162.27) scale(446.948 298.458)">
                        <stop stop-color="#FFEEB8" />
                        <stop offset="1" stop-color="#FF8A8A" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint2_angular_2012_3079" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(878 679.5) rotate(-139.511) scale(430.463 280.223)">
                        <stop stop-color="#FF764F" />
                        <stop offset="1" stop-color="#FFF0C4" />
                    </radialGradient>
                </defs>
            </svg>
            <div class="about__item-flex">
                <div class="about__item-img">
                    <img src="img/about.png" alt="">
                </div>
                <div class="about__item-text">
                    <p>Однако глубокая потребность каждого из нас — это быть услышанным и поддержанным. Быть глубоко
                        выслушанным — это быть исцелённым на глубоком уровне. </p>
                    <p>Но мы забыли об этом. Мы забыли, как слушать сердцем и слушаем только нашим разумом.</p>
                </div>
            </div>
        </div>
        <div class="about__item">
            <h2>Наше тело – Наш проводник</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="1756" height="1359" viewBox="0 0 1756 1359" fill="none">
                <g opacity="0.3" filter="url(#filter0_f_2012_3070)">
                    <path
                        d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
                        fill="url(#paint0_linear_2012_3070)" />
                    <path
                        d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
                        fill="url(#paint1_radial_2012_3070)" />
                    <path
                        d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
                        fill="url(#paint2_angular_2012_3070)" fill-opacity="0.4" />
                </g>
                <defs>
                    <filter id="filter0_f_2012_3070" x="0" y="0" width="1756" height="1359" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_2012_3070" />
                    </filter>
                    <linearGradient id="paint0_linear_2012_3070" x1="878" y1="400" x2="878" y2="959"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF764C" />
                        <stop offset="1" stop-color="#FFEFC3" />
                    </linearGradient>
                    <radialGradient id="paint1_radial_2012_3070" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(1303.72 822.889) rotate(162.27) scale(446.948 298.458)">
                        <stop stop-color="#FFEEB8" />
                        <stop offset="1" stop-color="#FF8A8A" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint2_angular_2012_3070" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(878 679.5) rotate(-139.511) scale(430.463 280.223)">
                        <stop stop-color="#FF764F" />
                        <stop offset="1" stop-color="#FFF0C4" />
                    </radialGradient>
                </defs>
            </svg>
            <div class="about__item-flex">
                <div class="about__item-text">
                    <p>Мы научились исправлять его, но мы забыли, как ему доверять. Оно всегда в Настоящем. Тело —
                        это Воплощённая Мудрость. </p>
                    <p>Оно всегда в Настоящем. Тело — это Воплощённая Мудрость. Мы научились исправлять его, но мы
                        забыли, как ему доверять. Во время практики вам не придётся разговаривать, спрашивать или
                        отвечать на вопросы. Тело станет Путём и Дверью в пространство, где вы обретёте самое главное —
                        себя настоящего.</p>
                </div>
                <div class="about__item-img">
                    <img src="img/about2.png" alt="">
                </div>
            </div>
        </div>
        <div class="about__seminar">
            <img src="img/bgimg2.png" alt="" class="bg-img">
            <h2>Для кого будет полезен семинар?</h2>
            <h4>Для всех, кто хочет:</h4>
            <ul>
                <li>жить</li>
                <li>работать</li>
                <li>общаться</li>
                <li>воспитывать</li>
                <li>руководить</li>
                <li>учить</li>
                <li>лечить</li>
            </ul>
            <p>из состояния расширенной осознанности, а не слепого повторения персональных, профессиональных, социальных или иных поведенческий паттернов</p>
            <a href="">Подробнее о методе</a>
            <svg width="1756" height="1288" viewBox="0 0 1756 1288" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.3" filter="url(#filter0_f_2012_3037)">
                    <path
                        d="M400 644C400 778.757 614.008 888 878 888C1141.99 888 1356 778.757 1356 644C1356 509.243 1141.99 400 878 400C614.008 400 400 509.243 400 644Z"
                        fill="url(#paint0_linear_2012_3037)" />
                    <path
                        d="M400 644C400 778.757 614.008 888 878 888C1141.99 888 1356 778.757 1356 644C1356 509.243 1141.99 400 878 400C614.008 400 400 509.243 400 644Z"
                        fill="url(#paint1_radial_2012_3037)" />
                    <path
                        d="M400 644C400 778.757 614.008 888 878 888C1141.99 888 1356 778.757 1356 644C1356 509.243 1141.99 400 878 400C614.008 400 400 509.243 400 644Z"
                        fill="url(#paint2_angular_2012_3037)" fill-opacity="0.4" />
                </g>
                <defs>
                    <filter id="filter0_f_2012_3037" x="0" y="0" width="1756" height="1288" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                        <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_2012_3037" />
                    </filter>
                    <linearGradient id="paint0_linear_2012_3037" x1="878" y1="400" x2="878" y2="888"
                        gradientUnits="userSpaceOnUse">
                        <stop stop-color="#FF764C" />
                        <stop offset="1" stop-color="#FFEFC3" />
                    </linearGradient>
                    <radialGradient id="paint1_radial_2012_3037" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(452.281 769.177) rotate(15.595) scale(441.99 263.473)">
                        <stop stop-color="#FFEEB8" />
                        <stop offset="1" stop-color="#FF8A8A" stop-opacity="0" />
                    </radialGradient>
                    <radialGradient id="paint2_angular_2012_3037" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(878 644) rotate(-36.6976) scale(408.306 257.906)">
                        <stop stop-color="#FF764F" />
                        <stop offset="1" stop-color="#FFF0C4" />
                    </radialGradient>
                </defs>
            </svg>
        </div>
    </div>
</section>