<section class="services">
    <div class="services__container _container">
        <h1>Услуги компании “Оптима”</h1>
        <div class="services__grid">
            <div class="services-item">
    <a href="services-complex.html" class="img"><img src="img/53bb8c10cee905c39c29363540abc4b7.png" alt=""></a>
    <h4><a href="services-complex.html">Комплексная поставка оборудования</a></h4>
</div>
            <div class="services-item">
    <a href="services-assembly.html" class="img"><img src="img/f796eb70fb1b6aa2f194efb89ab09b7f.png" alt=""></a>
    <h4><a href="services-assembly.html">Сборка электрощитов</a></h4>
</div>
            <div class="services-item">
    <a href="services-montaj.html" class="img"><img src="img/72537fcd85e9db83c7415cf3aeb15ec9.png" alt=""></a>
    <h4><a href="services-montaj.html">Электромонтажные работы</a></h4>
</div>
            <div class="services-item">
    <a href="services-whater.html" class="img"><img src="img/20a96bcfb07123ab4375c1e23dbc6a36.png" alt=""></a>
    <h4><a href="services-whater.html">Монтаж систем водоснабжения, отопления и канализации</a></h4>
</div>
        </div>
    </div>
</section>