<section class="contacts">
    <div class="contacts__container _container">
        <div class="contacts__links">
            <h1>Контакты</h1>
            <div class="contacts__links-item">
                <p>Звоните:</p>
                <p>Teл.: <a href="tel:+74951362206"> +7 (495) 136-2206 </a> (многоканальный)</p>
            </div>
            <div class="contacts__links-item">
                <p>Пишите:</p>
                <p>e-mail: <a href="mailto:info@optimapc.ru">info@optimapc.ru</a></p>
            </div>
        </div>
        <div class="contacts__address">
            <h2>Офис и склад</h2>
            <p>Адрес: 129626, город Москва, Мытищинский проезд, дом 6</p>
            <h4>Схема проезда:</h4>
            <iframe src="https://yandex.ru/map-widget/v1/?ll=37.645321%2C55.795687&mode=whatshere&whatshere%5Bpoint%5D=37.645321%2C55.795686&whatshere%5Bzoom%5D=17&z=17"></iframe>
        </div>
    </div>
</section>