<section class="about-gallery">
  <div class="about-gallery__container container">
    <div class="about-gallery__grid">
      <img src="img/gallery1.png" alt="" />
      <img src="img/gallery2.png" alt="" />
      <img src="img/gallery3.png" alt="" />
      <img src="img/gallery4.png" alt="" />
      <img src="img/gallery5.png" alt="" />
      <img src="img/gallery6.png" alt="" />
      <img src="img/gallery7.png" alt="" />
      <img src="img/gallery8.png" alt="" />
    </div>
  </div>
</section>