<section class="portfolio">
    <div class="portfolio__container">
        <h1>Портфолио</h1>
        <div class="portfolio__swiper swiper">
            <button class="slideprev">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="25" fill="#030210"/>
                    <path d="M15.9393 23.9393C15.3536 24.5251 15.3536 25.4749 15.9393 26.0607L25.4853 35.6066C26.0711 36.1924 27.0208 36.1924 27.6066 35.6066C28.1924 35.0208 28.1924 34.0711 27.6066 33.4853L19.1213 25L27.6066 16.5147C28.1924 15.9289 28.1924 14.9792 27.6066 14.3934C27.0208 13.8076 26.0711 13.8076 25.4853 14.3934L15.9393 23.9393ZM33 23.5L17 23.5V26.5L33 26.5V23.5Z" fill="white"/>
                </svg>                    
            </button>
            <button class="slidenext">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="25" transform="rotate(-180 25 25)" fill="#030210"/>
                    <path d="M34.0607 26.0607C34.6464 25.4749 34.6464 24.5251 34.0607 23.9393L24.5147 14.3934C23.9289 13.8076 22.9792 13.8076 22.3934 14.3934C21.8076 14.9792 21.8076 15.9289 22.3934 16.5147L30.8787 25L22.3934 33.4853C21.8076 34.0711 21.8076 35.0208 22.3934 35.6066C22.9792 36.1924 23.9289 36.1924 24.5147 35.6066L34.0607 26.0607ZM17 26.5H33V23.5H17V26.5Z" fill="white"/>
                </svg>                    
            </button>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="portfolio__item">
                        <img src="img/image 13.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio__item">
                        <img src="img/image 13.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio__item">
                        <img src="img/image 13.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio__item">
                        <img src="img/image 13.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio__item">
                        <img src="img/image 13.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio__item">
                        <img src="img/image 13.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="portfolio__item">
                        <img src="img/image 13.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var swiper = new Swiper(".portfolio .swiper", {
        navigation: {
            nextEl: ".portfolio .slidenext",
            prevEl: ".portfolio .slideprev",
        },
        autoplay: {
            delay: 5000,
        },
        effect: "cube",
    });
</script>