<div class="header-dropdown dropdown" id="header-dropdown">
    <div class="header-dropdown__container _container">
        <div class="header-dropdown__grid">
            <div class="header-dropdown__item">
                <h3>OOO «Оптима»</h3>
                <a href="tel:+74951362206">Телефон:
                    <span>+7 (495) 136-2206 </span>
                </a>
                <a href="mailto:info@optimapc.ru">E-mail:
                    <span>info@optimapc.ru</span>
                </a>
                <a href="">Адрес:
                    <span>129626, город Москва, Мытищинский проезд, дом 6</span>
                </a>
            </div>
            <div class="header-dropdown__item">
                <h4>Курс валют</h4>
                <div class="valutes">
                    <p>1 USD = 90.63 RUB</p>
                    <p>1 EUR = 99.13 RUB</p>
                    <p>1 CNY = 12.59 RUB</p>
                </div>
            </div>
        </div>
        <div class="header-dropdown__grid">
            <div class="header-dropdown__item">
                <h4>Каталог</h4>
                <ul>
                    <li><a href="">Модульное оборудование (Устройства на DIN-рейку)</a></li>
                    <li><a href="">Комплексная поставка оборудования</a></li>
                    <li><a href="">Сборка электрощитов</a></li>
                    <li><a href="">Электромонтажные работы</a></li>
                    <li><a href="">Монтаж систем водоснабжения, отопления и канализации</a></li>
                </ul>
            </div>
            <div class="header-dropdown__item">
                <h4>О нас</h4>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="services.html">Сферы деятельности</a></li>
                    <li><a href="">Каталог</a></li>
                    <li><a href="">Заказ и оплата</a></li>
                    <li><a href="">Доставка</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="header-dropdown__contacts">
            <h4>Схема проезда</h4>
            <iframe src="https://yandex.ru/map-widget/v1/?ll=37.645321%2C55.795687&mode=whatshere&whatshere%5Bpoint%5D=37.645321%2C55.795686&whatshere%5Bzoom%5D=17&z=17"></iframe>
        </div>
    </div>
</div>