<section class="portfolio">
    <div class="portfolio__container _container">
        <h2>НАШИ РАБОТЫ:</h2>
        <div class="portfolio__grid" id="portfolio-gallery">
            <div class="portfolio__item">
                <img src="img/7957217286486b12d964fcbfb48126aa.png" alt="">
            </div>
            <div class="portfolio__item">
                <img src="img/1c15fa630c69ea499f4883df3a9bf9c1.png" alt="">
            </div>
            <div class="portfolio__item">
                <img src="img/6510ce6ac0e1a3dd28f21849a1705ecb.png" alt="">
            </div>
            <div class="portfolio__item">
                <img src="img/dd12eabd800a9c48acc43b2610b513b6.png" alt="">
            </div>
            <div class="portfolio__item">
                <img src="img/dd12eabd800a9c48acc43b2610b513b6.png" alt="">
            </div>
            <div class="portfolio__item">
                <img src="img/2fd89c3c75e4e72806bc4152624441a6.png" alt="">
            </div>
            <div class="portfolio__item">
                <img src="img/3161b2e8ee3964892f12ba7b15d05f28.png" alt="">
            </div>
            <div class="portfolio__item">
                <img src="img/c54bdfbc93af2e654a710fc01bb21d14.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/baf98da3598cbf75440cba1ed926ca1a.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/8f42281b7808149b464aecf5bdc5fdef.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/af1f3537535b5951f4cc6dbb82df8762.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/0a780fb3ac2a3ee050295c1781f00c77.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/dd12eabd800a9c48acc43b2610b513b6.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/a2eba40583642fc8ff61bf8bfe2ab10e.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/ae3540ff5843c248f84733e8bca9ad92.png" alt="">
            </div>
            <div class="portfolio__item" style="display: none;">
                <img src="img/f034504dca96156bc17a7907890b890d.png" alt="">
            </div>
        </div>
        <div class="portfolio__showmore">
            <button onclick="showPortfolio(this)">Открыть все работы</button>
        </div>
    </div>
</section>