<section class="contacts">
    <div class="contacts__container">
        <h1>Контакты</h1>
        <div class="contacts__flex">
            <div class="contacts__map">
                <iframe src="https://yandex.ru/map-widget/v1/?ll=44.491566%2C40.153759&mode=search&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fdata%3DCgk3NzIwNDk0NTUSHNWA1aHVtdWh1b3Vv9Wh1bYsINS11oDWh9Wh1bYiCg3bDDJCFeW1IEI%2C&source=entity_search&z=12"></iframe>
                <div class="contacts__info">
                    <a href="">fl.ru: hovsepyandavid0</a>
                    <a href="">tg: @d_hovsepyan</a>
                    <a href="">gmail: hovsepyandavid0@gmail.com</a>
                    <a href="">wp: +37441588059</a>
                    <a href="">phone: +37441588059</a>
                </div>
            </div>
            <div class="contacts__form">
                <h3>Оставить заявку</h3>
                <form action="">
                    <label for="" class="input-text">
                        <input type="text" placeholder="Имя">
                    </label>
                    <label for="" class="input-text">
                        <input type="text" placeholder="Эл. почта">
                    </label>
                    <label for="" class="input-text">
                        <input type="text" placeholder="+ 7 (___) ___ __ __">
                    </label>
                    <label for="" class="input-text">
                        <textarea placeholder="Сообщение"></textarea>
                    </label>
                    <label for="" class="input-btn">
                        <input type="submit" value="Оставить заявку">
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>