<section class="aboutblockquote">
  <div class="aboutblockquote__container container">
    <h2>
      Выберите один из удобных вам способов, <br />как соприкоснуться к методом
      «Пустой чаша»
    </h2>
    <div class="aboutblockquote__box">
      <h2>Запишитесь на 60-минутный сеанс в вашем городе</h2>
      <div class="aboutblockquote__box-content">
        <div class="aboutblockquote__img">
          <img src="img/block1.png" alt="" /> 
        </div>
        <div class="aboutblockquote__box-content-info">
          <p>
            Индивидуальная встреча, на которой Терапевт накроет вас мягким
            одеялом и совместно с вами погрузится в Тишину, не пытаясь изменить
            или навязать что‑либо извне
          </p>
          <a href="">зАписаться</a>
        </div>
      </div>
    </div>
    <div class="aboutblockquote__box">
      <h2>Запишитесь 3-х дневный Семинар</h2>
      <div class="aboutblockquote__box-content">
        <div class="aboutblockquote__img">
          <img src="img/block2.png" alt="" />
        </div>
        <div class="aboutblockquote__box-content-info">
          <p>
            Практический Семинар, который поможет вам прийти к более осознанной
            и полноценной жизни
          </p>
          <a href="">зАписаться</a>
        </div>
      </div>
    </div>
    
  </div>
</section>
