<section class="reviews">
    <div class="reviews__container _container">
        <h2>ОТЗЫВЫ НАШИХ ПАРТНЕРОВ</h2>
        <div class="reviews__grid">
            <div class="reviews__item">
                <a target="_blank" href="https://www.rncrr.ru/" class="title">ФГБУ «РНЦРР» Минздрава России</a>
                <img src="img/d273287855b2cfdc73eaa400fb786e09.png" alt="">
                <a target="_blank" href="https://www.optimapc.ru/upload/FileUpload/files/RNCRR_otzyv.jpg" class="more">Читать оригинал отзыва</a>
            </div>
            <div class="reviews__item">
                <a target="_blank" href="https://tenzor.net/" class="title">АО Приборный завод «ТЕНЗОР»</a>
                <img src="img/d69e4081240dd9d2d13418295e12fdb5.png" alt="">
                <a target="_blank" href="https://www.optimapc.ru/upload/FileUpload/files/Tenzor_otzyv.jpg" class="more">Читать оригинал отзыва</a>
            </div>
            <div class="reviews__item">
                <span class="title">ООО «Серния ИНЖИНИРИНГ»</span>
                <img src="img/ba5cedf72e19522800b7ff3d4e32abf3.png" alt="">
                <a target="_blank" href="https://www.optimapc.ru/upload/FileUpload/files/Sernia-001.jpg" class="more">Читать оригинал отзыва</a>
            </div>
        </div>
    </div>
</section>