<section class="reviews">
    <div class="reviews__container _container">
        <h2>ОТЗЫВЫ НАШИХ ПАРТНЕРОВ</h2>
        <div class="reviews__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <a href="" class="title">ФГБУ «РНЦРР» Минздрава России</a>
                        <img src="img/d273287855b2cfdc73eaa400fb786e09.png" alt="">
                        <a href="" class="more">Читать оригинал отзыва</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <a href="" class="title">АО Приборный завод «ТЕНЗОР»</a>
                        <img src="img/d69e4081240dd9d2d13418295e12fdb5.png" alt="">
                        <a href="" class="more">Читать оригинал отзыва</a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__item">
                        <a href="" class="title">ООО «Серния ИНЖИНИРИНГ»</a>
                        <img src="img/ba5cedf72e19522800b7ff3d4e32abf3.png" alt="">
                        <a href="" class="more">Читать оригинал отзыва</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>