<div class="howToWork">
    <div class="howToWork__cont">
        <div class="howToWork__title">
            <h2>Как это работает?</h2>
            <p>Идеальная биометрическая фотография за 3 минуты.
                Проверьте, насколько это просто и умно!</p>
        </div>
        <div class="howToWork__grid">
            <div class="howToWork__item">
                <div class="icno"><img src="img/howToWork-icon.svg" alt=""></div>
                <h4>Сделайте или загрузите фото</h4>
                <p>Это единственное, что вам нужно сделать. Сделайте или загрузите фотографию - обо всем остальном позаботимся мы.</p>
            </div>
            <div class="howToWork__item">
                <div class="icno"><img src="img/howToWork-icon2.svg" alt=""></div>
                <h4>ИИ готовит фотографию</h4>
                <p>Искусственный интеллект проверит вашу фотографию, обрежет ее до нужного размера и удалит фон.</p>
            </div>
            <div class="howToWork__item">
                <div class="icno"><img src="img/howToWork-icon3.svg" alt=""></div>
                <h4>Экспертная проверка</h4>
                <p>Наш фотоэксперт проведет дополнительную проверку, чтобы убедиться, что ваша фотография соответствует официальным требованиям.</p>
            </div>
            <div class="howToWork__item">
                <div class="icno"><img src="img/howToWork-icon4.svg" alt=""></div>
                <h4>Цифровые или распечатанные фотографии</h4>
                <p>Вы можете скачать цифровую версию и заказать распечатку, которую мы вышлем в течение 2-3 дней. Доставка бесплатная!</p>
            </div>
        </div>
    </div>
</div>