<section class="life-journey">
    <img src="img/bgimg2.png" alt="" class="bg-img">
    <div class="life-journey__container container">
        <div class="life-journey__top">
            <div class="bg-color"></div>
            <div class="life-journey__title">
                <h2>Из хаоса в просветление: жизненный путь Майка</h2>
                <p>Сам Майк так описывал свой жизненный путь</p>
                <span class="icon"><img src="img/chicon.svg" alt=""></span>
            </div>
            <div class="life-journey__img">
                <img src="img/aboutLife.png" alt="">
            </div>
            <div class="life-journey__text">
                <p>На курсах в Северной Калифорнии ученики потребовали у меня написать свою биографию. Большую часть
                    жизни я почти забыл, но моя жена, отважно посещавшая курс, задавала мне здравые вопросы, которые
                    начинались так: «Да, но помнишь, когда…», и что‑то из меня вытягивала. По крайней мере, те фрагменты
                    воспоминаний, которые я был готов вспоминать. Я женат на Барбаре, и, говоря с чисто британским
                    преуменьшением, это хорошая штука! Я был женат прежде, и каждое из этих предприятий казалось
                    в то время хорошей штукой. Но эта становится все лучше. А другие становились хуже. Неуверенные,
                    будьте оптимистами, целуйте нескольких лягушек!</p>
                <p>У нас четверо детей, трое моих и один её. В последний раз, когда я решил заняться подсчётом, внуков
                    было одиннадцать, включая внучатых племянников и племянниц. Мы живём в маленьком коттедже
                    на юге Англии, у нас прекрасный сад — наша общая страсть. Я выращиваю овощи, она растит цветы.</p>
                <p>Что касается карьеры, когда‑то я был клерком (у своего отца), выращивал каучуконосные растения
                    в Малайе, воевал в джунглях, был администратором международного кинопроката (огромный доход),
                    продавал фильмы с Брюсом Ли, работал менеджером в магазине органических продуктов, психологом,
                    психотерапевтом, акупунктуристом, краниосакральным терапевтом… что ещё принесёт будущее? Я работаю
                    терапевтом примерно сорок лет. Я буддист примерно сорок лет.</p>
                <p>Всё это и некоторые другие факты, которыми я не буду вам досаждать, называется
                    компост. Да, ещё я был спортсменом, но очень давно. Сейчас я чувствую себя смертным. Все эти вещи
                    сходятся в том, чему я пытаюсь учить, а именно: что просветление, по словам Будды, находится в теле.
                    Прямо здесь и сейчас.</p>
            </div>
        </div>
        <div class="life-journey__bottom">
            <div class="bg-color"></div>
            <div class="life-journey__bottom-text">
                <span class="stars"><img src="img/allstars.png" alt=""></span>
                <h2>Пустая чаша</h2>
                <p>
                    У меня есть чаша из сплава металлов<br>
                    Её сделали последние из мастеров знающих тайны. <br>
                    Чаша пуста, хотя Океан заполняет её. <br>
                    Я могу стукнуть её, она зазвучит. И это полезно. <br>
                    Я могу положить в неё розы. И это будет красиво. <br>
                    Но она перестанет звучать. <br>
                    Мой внук может написать в неё, наверняка он <br>
                    так бы и сделал. И, наверное, это было б полезно. <br>
                    Но она перестанет звучать. <br>
                    Если же я приближаюсь к ней из Тишины, <br>
                    делясь с ней своей работой, она начинает петь <br>
                    очень красиво, и звук её наполняет Вселенную. <br>
                    И это полезно. <br>
                    И чаша пуста.
                </p>
                <p>
                    У меня есть разум, <br>
                    Он был создан в Вечности. <br>
                    Иногда он наполнен мыслями, и это полезно. <br>
                    И когда он наполнен травмами и ограничениями, <br>
                    Это тоже бывает полезно. <br>
                    Иногда он наполнен розами, иногда — писаниной <br>
                    Я могу работать со всем этим. И это полезно. <br>
                    Но если он пуст, и я приближаюсь к другому <br>
                    Из Тишины, <br>
                    Будет свободным пространство, чтобы История вся <br>
                    Без остатка излита была, и другой вспоминает, <br>
                    Кто он, на самом деле <br>
                    И Вселенная вспоминает саму себя, <br>
                    И вот это и правда полезно. <br>
                    И разум пуст 
                </p>
                <h4>Майк БоксхОлл</h4>
                <span class="stars"><img src="img/allstars.png" alt=""></span>
            </div>
        </div>
    </div>
</section>