<section class="main">
    <div class="main__triangles">
        <img src="img/decor 3.png" alt="">
        <img src="img/decor 4.png" alt="">
        <img src="img/decor 2.png" alt="">
    </div>
    <div class="main__container container">
        <p>Откройте для себя 
            <span>Crystal Ballroom:</span>
        </p>
        <h1>ивент-пространство
            <span>с уникальным</span>
        </h1>
        <div class="main__bottom">
            <h2>LED <br>экраном</h2>
        </div>
    </div>
</section>