<section class="schedule">
    <div class="schedule__container _container">
        <h2>расписание Ближайших семинаров</h2>
        <div class="schedule__box">
            <div class="schedule__item">
                <div class="schedule__item-left">
                    <p>2–5 марта</p>
                    <span>Россия, Москва</span>
                </div>
                <div class="schedule__item-right">
                    <h3>Семинар «Присутствие в тишине»</h3>
                    <div class="schedule__item-teacher">
                        <img src="img/teachericon.png" alt="">
                        <div class="text">
                            <span>Ведущий: </span>
                            <h4>Кирилл Ярхо</h4>
                        </div>
                    </div>
                    <a href="tel:+7 (800) 707–62–74" class="phone">+7 (800) 707–62–74</a>
                    <a href="" class="checkout-btn">записаться</a>
                </div>
            </div>
            <div class="schedule__item">
                <div class="schedule__item-left">
                    <p>2–5 марта</p>
                    <span>Россия, Москва</span>
                </div>
                <div class="schedule__item-right">
                    <h3>Семинар «Присутствие в тишине»</h3>
                    <div class="schedule__item-teacher">
                        <img src="img/teachericon.png" alt="">
                        <div class="text">
                            <span>Ведущий: </span>
                            <h4>Кирилл Ярхо</h4>
                        </div>
                    </div>
                    <a href="tel:+7 (800) 707–62–74" class="phone">+7 (800) 707–62–74</a>
                    <a href="" class="checkout-btn">записаться</a>
                </div>
            </div>
            <div class="schedule__item">
                <div class="schedule__item-left">
                    <p>2–5 марта</p>
                    <span>Россия, Москва</span>
                </div>
                <div class="schedule__item-right">
                    <h3>Семинар «Присутствие в тишине»</h3>
                    <div class="schedule__item-teacher">
                        <img src="img/teachericon.png" alt="">
                        <div class="text">
                            <span>Ведущий: </span>
                            <h4>Кирилл Ярхо</h4>
                        </div>
                    </div>
                    <a href="tel:+7 (800) 707–62–74" class="phone">+7 (800) 707–62–74</a>
                    <a href="" class="checkout-btn">записаться</a>
                </div>
            </div>
        </div>
        <div class="showmore">
            <a href="">Посмотреть всё расписание</a>
        </div>
    </div>
</section>