<section class="success">
    <div class="success__contrainer _container">
        <h1>Вы зарегистрированы!</h1>
        <div class="success__flex">
            <div class="success__left">
                <p>31 мая 2024 года ждем вас <br>на церемонии награждения победителей <span> Премии HR-бренд 2022! </span> <br>Мероприятие пройдет в Московском академическом Музыкальном театре имени К.С. Станиславского и Вл.И. Немировича-Данченко (МАМТ)</p>
                <p>До встречи на церемонии!</p>
                <span>На электронный адрес, указанный вами в форме регистрации, мы направим ваш именной билет с персональным QR-кодом. <br>Билет не подлежит передаче третьим лицам</span>
            </div>
            <div class="success__right">
                <div class="item">
                    <svg width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.8621 10C18.8621 17 9.86206 23 9.86206 23C9.86206 23 0.862061 17 0.862061 10C0.862061 7.61305 1.81027 5.32387 3.4981 3.63604C5.18593 1.94821 7.47511 1 9.86206 1C12.249 1 14.5382 1.94821 16.226 3.63604C17.9138 5.32387 18.8621 7.61305 18.8621 10Z" stroke="#CCBF89" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.86206 13C11.5189 13 12.8621 11.6569 12.8621 10C12.8621 8.34315 11.5189 7 9.86206 7C8.20521 7 6.86206 8.34315 6.86206 10C6.86206 11.6569 8.20521 13 9.86206 13Z" stroke="#CCBF89" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                    <p>Москва, <br>Большая Дмитровка, 17</p>
                </div>
                <div class="item">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.8621 5V11L14.8621 13M20.8621 11C20.8621 16.5228 16.3849 21 10.8621 21C5.33921 21 0.862061 16.5228 0.862061 11C0.862061 5.47715 5.33921 1 10.8621 1C16.3849 1 20.8621 5.47715 20.8621 11Z" stroke="#CCBF89" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                    <p>31 мая 2024 <br>18:00</p>
                </div>
            </div>
        </div>
    </div>
</section>