<div class="main">
    <div class="main__cont">
        <div class="main__text">
            <h1>Наш сервис предлагает быстрое и легкое создание высококачественных фотографий для документов.</h1>
            <p>С помощью пользовательского интерфейса вы можете быстро загрузить фотографию, выбрать желаемый размер документа и получить идеально обрезанное и отформатированное изображение, готовое к печати.</p>
            <button>выбрать документ</button>
            <div class="main__advantages">
                <div class="main__advantages-item">
                    <span>100 000 +</span>
                    <p>Фотографии на документы , сделанныес помощью нашей службы</p>
                </div>
                <div class="main__advantages-item">
                    <span>100 %</span>
                    <p>Гарантия приема</p>
                </div>
            </div>
        </div>
        <div class="main__img">
            <img src="img/mainImg.png" alt="" />
        </div>
    </div>
</div>