<section class="speed-test">
    <div class="speed-test__container _container">
        <div class="speed-test__title">
            <h1>Проверка скорости</h1>
            <p>Данный сервис позволяет быстро и просто измерить скорость вашего интернет-соединения.</p>
            <p>
                Для просмотра необходима скорость от 
                <span>5 Мбит/с</span>
            </p>
        </div>
        <button class="test-btn" id="starttest">Проверка</button>
        <div class="speed-test__results" id="results">

        </div>
    </div>
</section>