 <head>
	<title>@@title</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<link href="https://db.onlinewebfonts.com/c/1232ac1ab4c38c185c8faf6ee2f03d6d?family=KarloffPositiveProReg" rel="stylesheet">
	<link rel="stylesheet" href="css/style.min.css">
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>