<div class="countri">
    <div class="countri__cont">
        <div class="countri__title">
            <h2>Фото на документы онлайн</h2>
            <p>В некоторых случаях может понадобиться фотография на документы, например, на паспорт, удостоверение личности или для водительских прав. В таких случаях и если ты желаешь сэкономить время и деньги, можешь сделать фото не выходя из дома! Просто попроси члена семьи или друзей сделать фото, ознакомься с инструкцией ниже, и воспользуйся нашим редактором, который подготовит и адаптирует фото на паспорт или другие документы с учетом официальных требований.</p>
        </div>
        <div class="countri__inputs">
            <label for="" class="select-label">
                <select name="" id="">
                    <option value="Выберите страну">Выберите страну</option>
                    <option value="Выберите страну">Выберите страну</option>
                    <option value="Выберите страну">Выберите страну</option>
                    <option value="Выберите страну">Выберите страну</option>
                    <option value="Выберите страну">Выберите страну</option>
                </select>
            </label>
            <label for="" class="search-input">
                <input type="text" placeholder="Поиск нужного документа">
                <input type="submit" value="">
                <button type="button">Например: Green Card Photo</button>
            </label>
        </div>
        <div class="countri__result">
            <div class="countri__item">
                <div class="icon"><img src="img/countri.svg" alt=""><span>Китай</span></div>
                <p>Chinese Passport Photo</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri2.svg" alt=""><span>Казахстан</span></div>
                <p>Cheapest Places to Print Passport Photos</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri3.svg" alt=""><span>Конго</span></div>
                <p>Chinese Passport Photo</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri4.svg" alt=""><span>Конго</span></div>
                <p>Photo 2x2 Inches (51x51 Milimetres)</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri5.svg" alt=""><span>Конго</span></div>
                <p>Photo 35x45 Milimetres (3,5 X 4,5 CM)</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri6.svg" alt=""><span>Куба</span></div>
                <p>Photo 35x45 Milimetres (3,5 X 4,5 CM)</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri7.svg" alt=""><span>Англия</span></div>
                <p>Chinese Passport Photo</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri8.svg" alt=""><span>Абхазия</span></div>
                <p>Cheapest Places to Print Passport Photos</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri9.svg" alt=""><span>Австралия</span></div>
                <p>Chinese Passport Photo</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri10.svg" alt=""><span>Австрия</span></div>
                <p>Photo 2x2 Inches (51x51 Milimetres)</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri11.svg" alt=""><span>Азербайджан</span></div>
                <p>Photo 35x45 Milimetres (3,5 X 4,5 CM)</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri12.svg" alt=""><span>Ангола</span></div>
                <p>Photo 35x45 Milimetres (3,5 X 4,5 CM)</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri13.svg" alt=""><span>Маврикий</span></div>
                <p>Chinese Passport Photo</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri14.svg" alt=""><span>Мали</span></div>
                <p>Cheapest Places to Print Passport Photos</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri15.svg" alt=""><span>Мальта</span></div>
                <p>Chinese Passport Photo</p>
            </div>
            <div class="countri__item">
                <div class="icon"><img src="img/countri16.svg" alt=""><span>Мавритания</span></div>
                <p>Photo 2x2 Inches (51x51 Milimetres)</p>
            </div>
        </div>
    </div>
</div>