<section class="news">
    <div class="news__container _container">
        <div class="news__title">
            <h1>Новости</h1>
            <p></p>
        </div>
        <div class="news__grid">
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
            <div class="news__item">
                <div class="news__item-img"><img src="img/image_8.jpeg" alt=""></div>
                <span class="data">15.04.2021 10:38</span>
                <h4>Apple TV на Lamro TV</h4>
                <p>Хорошая новость! Теперь у клиентов Lamro TV есть возможность смотреть каналы через Apple TV. Вы можете установить <a href="https://apps.apple.com/app/id1551338539"> Lamro TV </a> приложение через AppStore на вашем Apple TV</p>
            </div>
        </div>
    </div>
</section>