<section class="kiril">
  <div class="kiril__container container">
    <div class="kiril__top">
      <div class="kiril__top-img">
        <img src="/img/user1.png" alt="" />
      </div>
      <div class="kiril__top-text">
        <h1>Кирилл ярхо</h1>
        <p>Один из самых близких учеников Майка Боксхолла</p>
      </div>
    </div>
    <div class="kiril__about">
      <div class="kiril__about-img">
        <img src="/img/kirikil.png" alt="#">
      </div>
      <div class="kiril__about-text">
        <span>Преподаватель семинара</span>
        <h3>Кирилл Ярхо</h3>
        <p>Кирилл Ярхо, врач педиатр, остеопат и ведущий семинара «Пустая Чаша».</p>
        <ul>
          <li>• Окончил Ленинградский Педиатрический Институт (1988–1993 г.г.).</li>
          <li>• Доктор Остеопатии с 2002 года (РВШОМ).</li>
          <li>• Проходил стажировку в разных направлениях и с разными преподавателями в Испании, Германии, Франции, Канаде.</li>
          <li>• Практикует остеопатию с 1999 года (с момента знакомства с ней).</li>
        </ul>
      </div>
    </div>
  </div>
</section>
