<footer class="footer">
	<div class="footer__container _container">
		<div class="footer__grid">
			<div class="footer__about">
				<a href="/" class="logo"><img src="img/logo.svg" alt=""></a>
				<div class="text">
					<h3>OOO «Оптима»</h3>
					<a href="tel:+74951362206">Телефон:
						<span>+7 (495) 136-2206 </span>
					</a>
					<a href="mailto:info@optimapc.ru">E-mail:
						<span>info@optimapc.ru</span>
					</a>
					<a href="">Адрес:
						<span>129626, город Москва, Мытищинский проезд, дом 6</span>
					</a>
				</div>
			</div>
			<div class="footer__item">
				<h4>Каталог</h4>
                <ul>
					<li><a href="services-montaj.html">Модульное оборудование (Устройства на DIN-рейку)</a></li>
                    <li><a href="services-complex.html">Комплексная поставка оборудования</a></li>
                    <li><a href="services-assembly.html">Сборка электрощитов</a></li>
                    <li><a href="services-montaj.html">Электромонтажные работы</a></li>
                    <li><a href="services-whater.html">Монтаж систем водоснабжения, отопления и канализации</a></li>
                </ul>
			</div>
			<div class="footer__item">
				<h4>О нас</h4>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="services.html">Сферы деятельности</a></li>
                    <li><a href="catalog.html">Каталог</a></li>
                    <li><a href="payment.html">Заказ и оплата</a></li>
                    <li><a href="delivery.html">Доставка</a></li>
                    <li><a href="contacts.html">Контакты</a></li>
                </ul>
			</div>
		</div>
		<div class="footer__bottom">
			<p>© 2018 «Optimapc»</p>
			<a href="">Политика конфиденциальности</a>
			<a href="https://viento.ru/" target="_blank">Разработка сайта - Viento</a>
		</div>
	</div>
</footer>