<section class="get">
    <div class="get__container _container wow animate__zoomInUp">
        <div class="get__img"><img src="img/4015619 1.png" alt=""></div>
        <div class="get__text">
            <h2>Obțineți acces astăzi</h2>
            <p>Oriunde de pe orice dispozitiv! Peste 350 de canale TV de top. Filme, sport, seriale, emisiuni și multe altele. Alege unul din pachete și primești acces imediat în lumea divertismentului.</p>
            <a href="">Testează o zi GRATUIT</a>
        </div>
    </div>
</section>