<section class="delivery">
    <div class="delivery__container _container">
        <h1>Доставка</h1>
        <div class="delivery__item">
            <h2>Доставка по Москве</h2>
            <p>Доставка оборудования по Москве в пределах МКАД при стоимости заказа от 50 000 руб. осуществляется бесплатно. Доставка заказов по Москве на суммы менее 50 000 руб., а также доставка заказов по Московской области осуществляется по следующим тарифам:</p>
            <div class="delivery__prices">
                <div class="img">
                    <img src="img/e1f05356a12a9ff3789cb4119ee016fe.png" alt="">
                </div>
                <div class="delivery__prices-right">
                    <h4>Стоимость доставки по Москве и МО</h4>
                    <table>
                        <thead>
                            <tr>
                                <td>Зона доставки</td>
                                <td>Стоимость доставки</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1 зона</td>
                                <td>350 руб.</td>
                            </tr>
                            <tr>
                                <td>2 зона</td>
                                <td>500 руб.</td>
                            </tr>
                            <tr>
                                <td>3 зона</td>
                                <td>500 руб.</td>
                            </tr>
                            <tr>
                                <td>4 зона</td>
                                <td>400 руб.</td>
                            </tr>
                            <tr>
                                <td>5 зона</td>
                                <td>450 руб.</td>
                            </tr>
                            <tr>
                                <td>МО в пределах 10 км от МКАД	</td>
                                <td>820 руб.</td>
                            </tr>
                            <tr>
                                <td>МО в пределах от 10 км до 100 км от МКАД	</td>
                                <td>45 руб. за 1 км</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>При выставлении счёта стоимость доставки по г. Москве включается в цену оборудования.</p>
                </div>
            </div>
            <h4>Внимание!</h4>
            <p>Передача оборудования производится СТРОГО лицу, уполномоченному подписывать документы по приемке-передаче материальных ценностей, с одновременным подписанием указанных документов. В случае отсутствия у принимающей стороны полномочий на подписание документов оборудование не передается, а стоимость доставки не возмещается. В случае последующей доставки стоимость доставки оплачивается повторно.</p>
        </div>
        <div class="delivery__item">
            <h2>Доставка в регионы</h2>
            <p>Доставка осуществляется в любой регион России удобным для Вас способом.</p>
            <p>Стоимость доставки в регионы рассчитывается согласно тарифам транспортных компаний. При выставлении счёта стоимость доставки в регионы включается в цену оборудования.</p>
            <p>ООО "Оптима" отправляет сборные грузы транспортными компаниями ООО «ЖелДорЭкспедиция», ООО "Деловые линии" и ООО «ПЭК» в регионы РФ. Доставка со склада ООО "Оптима" до терминалов вышеперечисленных транспортных компаний при заказе от 30 000 рублей осуществляется бесплатно.</p>
            <h5>Стоимость доставки до терминала транспортной компании составляет 700 руб. в случаях:</h5>
            <ul>
                <li>доставки заказа на сумму менее 30 000 рублей,</li>
                <li>доставки до терминалов других транспортных компаний.</li>
            </ul>
            <p>Выбрать наиболее удобную для Вас транспортную компанию можно из списка, а также рассчитать ориентировочные стоимость и сроки доставки в Ваш регион.</p>
        </div>
        <div class="delivery__item">
            <h2>Сроки доставки</h2>
            <p>При наличии оборудования на складе ООО "Оптима" доставка по городу Москве осуществляется не позднее 2-х рабочих дней с момента поступления денежных средств на расчетный счет ООО "Оптима".</p>
        </div>
    </div>
</section>