<section class="invite">
    <div class="bg-color"></div>
    <div class="invite__container container">
        <h2>Я приглашаю вас совершить совместное путешествие на тот уровень, где не существует патологии</h2>
        <div class="invite__flex">
            <div class="invite__img">
                <img src="img/aboutMike.png" alt="">
            </div>
            <div class="invite__right">
                <p>В течение полувека он работал с различными исследовательскими группами, включая врачей, юристов, остеопатов, танцоров, терапевтов, психологов, учителей и других людей, которые вместо усилий стать идеальными, искали как быть более осознанными и целостными.</p>
                <p>Мудрость, щедрость, любовь и чувство юмора, с которыми Майк делился свои опытом с друзьями, близкими и всеми, кто хотел ближе познакомиться с его Работой, помогали каждому глубже и проще открываться удивительным процессам и метаморфозам, происходящим на уровне Высшего Знания и воплощать порой очень сложные для понимания идеи. Встреча с Учителем изменила жизни и судьбы тысяч людей во всём мире.</p>
                <a href="" class="button"><span class="btn-text">о МАЙКЛЕ БОКСХОЛЕ</span></a>
            </div>
        </div>
    </div>
</section>