<section class="etaps">
    <div class="etaps__container">
        <h2>Этапы разработки</h2>
        <div class="etaps__flex">
            <div class="swiper-pagination"></div>
            <div class="lottie-animation">
                <lottie-player src="img/lf20_qwATcU.json" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="etaps__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="etaps__item">
                            <h3>Шаг 1. Первичная информация и маркетинговый анализ</h3>
                            <p>Прежде чем приступить к разработке дизайна, провожу глубокий маркетинговый анализ: выявление сегментов целевой аудитори (ЦА), преимущества перед конкурентами, привлекательность для ЦА, основные возражения. Заранее просчитываю будущую рекламную стратегию.</p>
                            <h4>Набор действий:</h4>
                            <ul>
                                <li>
                                    <p>1. Погружаюсь в нишу клиента</p>
                                </li>
                                <li>
                                    <p>2. Маркетинговое исследование рынка</p>
                                </li>
                                <li>
                                    <p>3. Постановка целей</p>
                                </li>
                                <li>
                                    <p>4.  Анализ конкурентов по вашему городу</p>
                                </li>
                                <li>
                                    <p>5.  Анализ полученных данных</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="etaps__item">
                            <h3>Шаг 1. Первичная информация и маркетинговый анализ</h3>
                            <p>Прежде чем приступить к разработке дизайна, провожу глубокий маркетинговый анализ: выявление сегментов целевой аудитори (ЦА), преимущества перед конкурентами, привлекательность для ЦА, основные возражения. Заранее просчитываю будущую рекламную стратегию.</p>
                            <h4>Набор действий:</h4>
                            <ul>
                                <li>
                                    <p>1. Погружаюсь в нишу клиента</p>
                                </li>
                                <li>
                                    <p>2. Маркетинговое исследование рынка</p>
                                </li>
                                <li>
                                    <p>3. Постановка целей</p>
                                </li>
                                <li>
                                    <p>4.  Анализ конкурентов по вашему городу</p>
                                </li>
                                <li>
                                    <p>5.  Анализ полученных данных</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="etaps__item">
                            <h3>Шаг 1. Первичная информация и маркетинговый анализ</h3>
                            <p>Прежде чем приступить к разработке дизайна, провожу глубокий маркетинговый анализ: выявление сегментов целевой аудитори (ЦА), преимущества перед конкурентами, привлекательность для ЦА, основные возражения. Заранее просчитываю будущую рекламную стратегию.</p>
                            <h4>Набор действий:</h4>
                            <ul>
                                <li>
                                    <p>1. Погружаюсь в нишу клиента</p>
                                </li>
                                <li>
                                    <p>2. Маркетинговое исследование рынка</p>
                                </li>
                                <li>
                                    <p>3. Постановка целей</p>
                                </li>
                                <li>
                                    <p>4.  Анализ конкурентов по вашему городу</p>
                                </li>
                                <li>
                                    <p>5.  Анализ полученных данных</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="etaps__item">
                            <h3>Шаг 1. Первичная информация и маркетинговый анализ</h3>
                            <p>Прежде чем приступить к разработке дизайна, провожу глубокий маркетинговый анализ: выявление сегментов целевой аудитори (ЦА), преимущества перед конкурентами, привлекательность для ЦА, основные возражения. Заранее просчитываю будущую рекламную стратегию.</p>
                            <h4>Набор действий:</h4>
                            <ul>
                                <li>
                                    <p>1. Погружаюсь в нишу клиента</p>
                                </li>
                                <li>
                                    <p>2. Маркетинговое исследование рынка</p>
                                </li>
                                <li>
                                    <p>3. Постановка целей</p>
                                </li>
                                <li>
                                    <p>4.  Анализ конкурентов по вашему городу</p>
                                </li>
                                <li>
                                    <p>5.  Анализ полученных данных</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var swiper = new Swiper(".etaps .swiper", {
        direction: "vertical",
        pagination: {
            el: ".etaps .swiper-pagination",
            clickable: true,
        },
        autoplay: {
            delay: 5000,
        },
        effect: "cube",
    });
</script>