<section class="author">
    <img src="img/bgimg2.png" alt="" class="bg-img">
    <span class="bg-color"></span>
    <div class="author__container container">
        <div class="author__title">
            <span>автор метода</span>
            <h2>Майк Боксхолл</h2>
        </div>
        <div class="author__flex">
            <div class="author__img"><img src="img/author.png" alt=""></div>
            <div class="author__text">
                <span>автор метода</span>
                <h2>Майк Боксхолл</h2>
                <p>Мы предлагаем уникальную методологию преподавания, разработанную Майклом Боксхоллом.</p>
                <p>Его работа основана на широком опыте и глубоких знаниях о человеческой природе, даосской философии,
                    юнгианской психологии, мистических традициях остеопатии, а также на его обширной клинической
                    практике.</p>
            </div>
        </div>
        <p>В течение полувека он работал с различными исследовательскими группами, включая врачей, юристов, остеопатов,
            танцоров, терапевтов, психологов, учителей и других людей, которые вместо усилий стать идеальными,
            стремились быть более целостными.</p>
        <p>Мудрость, любовь и чувство юмора которыми он делился со своими слушателями помогали им глубже и проще
            открываться глубинам Высшего Знания и воплощать порой очень сложные для понимания идеи. Опыт проживаемый на
            его семинарах был поистине бесценен и изменил жизни и судьбы тысяч людей.</p>
        <a href="about-mike.html" class="button"><span class="btn-text">о МАЙКЛЕ БОКСХОЛЕ</span></a>
    </div>
</section>