<section class="author">
    <img src="img/bgimg2.png" alt="" class="bg-img">
    <svg class="bg-color" width="1796" height="1491" viewBox="0 0 1796 1491" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g opacity="0.3" filter="url(#filter0_f_2012_3021)">
            <path
                d="M400 745.5C400 936.314 622.962 1091 898 1091C1173.04 1091 1396 936.314 1396 745.5C1396 554.686 1173.04 400 898 400C622.962 400 400 554.686 400 745.5Z"
                fill="url(#paint0_linear_2012_3021)" />
            <path
                d="M400 745.5C400 936.314 622.962 1091 898 1091C1173.04 1091 1396 936.314 1396 745.5C1396 554.686 1173.04 400 898 400C622.962 400 400 554.686 400 745.5Z"
                fill="url(#paint1_radial_2012_3021)" />
            <path
                d="M400 745.5C400 936.314 622.962 1091 898 1091C1173.04 1091 1396 936.314 1396 745.5C1396 554.686 1173.04 400 898 400C622.962 400 400 554.686 400 745.5Z"
                fill="url(#paint2_angular_2012_3021)" fill-opacity="0.4" />
        </g>
        <defs>
            <filter id="filter0_f_2012_3021" x="0" y="0" width="1796" height="1491" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur_2012_3021" />
            </filter>
            <linearGradient id="paint0_linear_2012_3021" x1="898" y1="400" x2="898" y2="1091"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF764C" />
                <stop offset="1" stop-color="#FFEFC3" />
            </linearGradient>
            <radialGradient id="paint1_radial_2012_3021" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(454.469 922.749) rotate(20.774) scale(474.372 362.151)">
                <stop stop-color="#FFEEB8" />
                <stop offset="1" stop-color="#FF8A8A" stop-opacity="0" />
            </radialGradient>
            <radialGradient id="paint2_angular_2012_3021" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                gradientTransform="translate(898 745.5) rotate(-45.369) scale(485.494 319.98)">
                <stop stop-color="#FF764F" />
                <stop offset="1" stop-color="#FFF0C4" />
            </radialGradient>
        </defs>
    </svg>

    <div class="author__container container">
        <div class="author__flex">
            <div class="author__img"><img src="img/author.png" alt=""></div>
            <div class="author__text">
                <span>автор метода</span>
                <h2>Майк Боксхолл</h2>
                <p>Мы предлагаем уникальную методологию преподавания, разработанную Майклом Боксхоллом.</p>
                <p>Его работа основана на широком опыте и глубоких знаниях о человеческой природе, даосской философии,
                    юнгианской психологии, мистических традициях остеопатии, а также на его обширной клинической
                    практике.</p>
            </div>
        </div>
        <p>В течение полувека он работал с различными исследовательскими группами, включая врачей, юристов, остеопатов,
            танцоров, терапевтов, психологов, учителей и других людей, которые вместо усилий стать идеальными,
            стремились быть более целостными.</p>
        <p>Мудрость, любовь и чувство юмора которыми он делился со своими слушателями помогали им глубже и проще
            открываться глубинам Высшего Знания и воплощать порой очень сложные для понимания идеи. Опыт проживаемый на
            его семинарах был поистине бесценен и изменил жизни и судьбы тысяч людей.</p>
        <a href="">о МАЙКЛЕ БОКСХОЛЕ</a>
    </div>
</section>