<section class="main">
    <div class="main__container _container">
        <h1>ООО «Оптима»</h1>
        <p>выполняет подбор, поставку, монтаж, сервис и ремонт оборудования для систем автоматизации, диспетчеризации, бесперебойного энергообеспечения и телекоммуникаций.</p>
        <p>Основным направлением деятельности компании «Оптима» является поставка оборудования от ведущих производителей (APC, EATON, ABB, Schneider Electric, Rittal, ЦМО и др.) для систем автоматизированного управления (АСУ), диспетчеризации, бесперебойного электроснабжения и телекоммуникаций.</p>
        <div class="main__grid">
            <div class="main__flex-item">
                <img src="img/img.png" alt="">
                <span>Однофазные ИБП</span>
            </div>
            <div class="main__flex-item">
                <img src="img/de054928493ea1b43ec4b06062409363.png" alt="">
                <span>Трёхфазные ИБП</span>
            </div>
            <div class="main__flex-item">
                <img src="img/5c66327968d7e8c3bf8d9740cbd94858.png" alt="">
                <span>Шкафы и стойки</span>
            </div>
            <div class="main__flex-item">
                <img src="img/de4cdbfab236d545d4813bfa6270cea8.png" alt="">
                <span>Низковольтное оборудование</span>
            </div>
            <div class="main__flex-item">
                <img src="img/7ca21b69b12ffbe3feda6315dfcc8ed4.png" alt="">
                <span>Аккумуляторные батареи (АКБ)</span>
            </div>
        </div>
        <p>
            Также ООО «Оптима» предлагает свои услуги, связанные с: 
            <br>- подбором и комплексной поставкой электротехнического и телекоммуникационного  оборудования на объекты заказчика;
            <br>- производством и монтажом электротехнических щитов и шкафов для систем  диспетчеризации, автоматизации, распределения электропитания, кондиционирования и вентиляции (щиты управления, распределения питания, АВР и пр.),
            <br>- ремонтом, гарантийным и послегарантийным обслуживанием электротехнического оборудования,
            <br>- выполнением проектных, монтажных, пуско-наладочных и сервисных работ систем диспетчеризации, автоматизации, кондиционирования и распределения питания.
        </p>
        <div class="main__flex">
            <div class="main__flex-item">
                <img src="img/425c10a2f97bfc8182d4976db062bb05.png" alt="">
                <span>Комплексная поставка оборудования</span>
            </div>
            <div class="main__flex-item">
                <img src="img/26b7b25b52bbb0b8479bd11baa8ba348.png" alt="">
                <span>Монтаж электрощитов</span>
            </div>
        </div>
        <p>ООО "Оптима" старается удовлетворить все требования заказчика, гарантируя профессиональный подход своих специалистов к любому вопросу, использование самого современного оборудования и технологий, а также комплексный подход к реализации проектов любого масштаба и уровня сложности. Доказательством активного развития компании является постоянное расширение производства и сотрудничество с новыми поставщиками  оборудования, поиск новых направлений деятельности и применение передовых технологий.</p>
    </div>
</section>