<section class="categories-swiper">
    <div class="categories-swiper__container _container">
        <h2>Модульное оборудование (Устройства на DIN-рейку)</h2>
        <div class="catalog__swiper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="active">Все товары</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Автоматические выключатели</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Модульное оборудование (Устройства на DIN-рейку)</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Выключатели нагрузки</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Автоматические выключатели дифференциального тока (АВДТ)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>