<section class="teacher-path">
    <div class="teacher-path__container container">
        <div class="bg-color"></div>
        <h2>Продолжая Путь Учителя</h2>
        <div class="teacher-path__info">
            <div class="flex">
                <div class="text">
                    <p>Один из самых близких учеников Майка Боксхолла. Родился и вырос в Питере (Ленинграде), где и получил высшее медицинское образование. Имеет звание доктора остеопатии и практикует более 25 лет. </p>
                    <p>Проходил стажировку и специализацию во многих странах Европы и Северной Америки. В настоящее время живёт в Испании с женой Светланой и двумя сыновьями — Мишей и Ваней. </p>
                </div>
                <div class="img">
                    <img src="img/kirkilsecond.png" alt="">
                </div>
            </div>
            <p>В 2007 году, после долгих поисков «чего-то ещё», Кирилл наконец встретил то, что так долго искал — оказалось, и это было неожиданностью для него самого, что это были не техники или знания. Он встретил Учителя. А тот, в свою очередь, очень щедро поделился с ним Учением. </p>
            <p>Эта встреча полностью изменила жизнь Кирилла. Ученичество со временем переросло в тёплые отношения, а в дальнейшем и в дружбу, и в течение долгих лет он сопровождал Майка на курсах как близкий ученик, друг и помощник. По просьбе Майка Кирилл познакомил с Учением и российскую аудиторию, что имело для обоих особый смысл, поскольку первым Учителем Майка в Англии была Ирина Твиди, русская по происхождению, получившая удивительный опыт Обучения, о котором она рассказала в своей книге. Кирилл посвятил свою жизнь продолжению того Пути и Работы, которую на протяжении многих лет исследовал, путешествуя рука об руку со своим Учителем. Вместе с многочисленными группами он и Майк продолжают это Необыкновенное Путешествие.</p>
        </div>
    </div>
</section>