<section class="product-detail">
    <div class="product-detail__container _container">
        <h1>Автоматические выключатели</h1>
        <div class="product-detail__top">
            <h4>318304 КЭАЗ Выключатель автоматический модульный трехполюсный ВА47-29, 4.5кА, 25А (ВА47-29-3D25-УХЛ3)</h4>
            <div class="product-detail__flex">
                <div class="product-detail__img">
                    <img src="img/image 38.png" alt="">
                </div>
                <div class="product-detail__info">
                    <p>Цена:
                        <span>821,00 руб.</span>
                    </p>
                    <p>Производитель: 
                        <span>КЭАЗ</span>
                    </p>
                    <p>Код производителя:
                        <span>318304</span>
                    </p>
                    <p class="note">Краткое описание:
                        <span>Доставка оборудования по Москве в пределах МКАД при стоимости заказа от 50 000 руб. осуществляется бесплатно. Доставка заказов по Москве на суммы менее 50 000 руб., а также доставка заказов по Московской области осуществляется по следующим тарифам:</span>
                    </p>
                </div>
            </div>
            <a href="" class="buy-btn">Сделать заказ</a>
        </div>
        <div class="product-detail__characteristics">
            <h2>Характеристики</h2>
            <p>Название<span>318304 КЭАЗ Выключатель автоматический модульный трехполюсный ВА47-29, 4.5кА, 25А (ВА47-29-3D25-УХЛ3)</span></p>
            <p>Общее количество полюсов<span>3</span></p>
            <p>Количество защищенных полюсов<span>3</span></p>
            <p>Отключение нейтрали (N)<span>Нет</span></p>
            <p>Номинальный ток (In)<span>25 А</span></p>
            <p>Характеристика расцепления (кривая тока)<span>D</span></p>
            <p>Уставка расцепителей токов короткого замыкания<span>10In-20In</span></p>
            <p>Вид расцепителей<span>тепловой и электромагнитный</span></p>
            <p>Номинальное рабочее напряжение (Ue)	<span>400 В</span></p>
            <p>Род тока<span>Переменный (АС)</span></p>
            <p>Частота тока	<span>50 Гц</span></p>
            <p>Защита от сверхтоков<span>Нет</span></p>
            <p>Селективная защита<span>Нет</span></p>
            <p>Предельная коммутационная способность переменного тока (Icu)<span>4.5 кА</span></p>
            <p>Макс. сечение присоединяемых проводов<span>25 мм2</span></p>
            <p>Степень защиты<span>IP20</span></p>
            <p>Климатическое исполнение<span>УХЛ3</span></p>
            <p>Габариты изделия (В x Ш x Г)<span>80 х 54 х 75 мм</span></p>
            <p>Кол-во модулей<span>3</span></p>
            <p>Вес изделия<span>0.39 кг</span></p>
            <p>Диапазон рабочих температур<span>от -60 до +40 °С</span></p>
            <p>Дополнительные аксессуары<span>есть</span></p>
        </div>
        <div class="product-detail__bottom">
            <p>Внешний вид, комплектация и технические параметры оборудования могут изменяться производителем без предварительного уведомления. Неточности в описании не являются основанием для возврата и предоставления дополнительных скидок. Мы будем благодарны Вам, если Вы оставите свой отзыв или укажите на неточность в описании 
                <a href=""> здесь.</a>
            </p>
        </div>
    </div>
</section>