<section class="method">
    <div class="method__container container">
        <h2>Выберите один из удобных вам способов, как соприкоснуться к методом «Пустой чаша»</h2>
        <div class="method__item">
            <h3>Запишитесь на 60-минутный сеанс в вашем городе</h3>
            <div class="bg-color"></div>
            <div class="method__item-flex">
                <div class="method__item-img">
                    <img src="img/make.png" alt="">
                </div>
                <div class="method__item-text">
                    <p>Индивидуальная встреча, на которой Терапевт накроет вас мягким одеялом и совместно с вами погрузится в Тишину, не пытаясь изменить или навязать что‑либо извне</p>
                    <a href="" class="button"><span class="btn-text">зАписаться</span></a>
                </div>
            </div>
        </div>
        <div class="method__item">
            <h3>Запишитесь 3-х дневный Семинар</h3>
            <div class="bg-color"></div>
            <div class="method__item-flex">
                <div class="method__item-img">
                    <img src="img/seminar1.png" alt="">
                </div>
                <div class="method__item-text">
                    <p>Практический Семинар, который поможет вам прийти к более осознанной и полноценной жизни</p>
                    <a href="" class="button"><span class="btn-text">зАписаться</span></a>
                </div>
            </div>
        </div>
    </div>
</section>