<div class="photoType">
    <div class="photoType__cont">
        <h2>Выберите тип фотографии</h2>
        <div class="photoType__flex">
            <div onclick="setType(this)" class="photoType__item active">
                <div class="photoType__item-title">
                    <label for="" class="checkbox">
                        <input type="checkbox" name="" id="" checked="true">
                        <span></span>
                        <p>Цифровой</p>
                    </label>
                    <div class="price">
                        <p>56.99$</p>
                        <span>156.99$</span>
                    </div>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Высокое разрешение</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Дополнительная фотопроверка нашим экспертом</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Готовый к печати шаблон</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Гарантия приема или 200% возврат оплаты</p>
                </div>
                <div class="photoType__item-info not-type">
                    <div class="icon"><img src="img/close.svg" alt=""></div>
                    <p>Распечатка на бумаге премиум-класса</p>
                </div>
                <div class="photoType__item-info not-type">
                    <div class="icon"><img src="img/close.svg" alt=""></div>
                    <p>Бесплатная доставка</p>
                </div>
                <div class="photoType__item-bottom">
                    <p>PNG высокого качества</p>
                </div>
            </div>
            <div onclick="setType(this)" class="photoType__item">
                <div class="photoType__item-title">
                    <label for="" class="checkbox">
                        <input type="checkbox" name="" id="">
                        <span></span>
                        <p>Напечатано</p>
                    </label>
                    <div class="price">
                        <p>76.99$</p>
                        <span>256.99$</span>
                    </div>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Дополнительная фотопроверка нашим экспертом</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Готовый к печати шаблон</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Гарантия приема или 200% возврат оплаты</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Высокое разрешение</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Распечатка на бумаге премиум-класса</p>
                </div>
                <div class="photoType__item-info">
                    <div class="icon"><img src="img/check.svg" alt=""></div>
                    <p>Бесплатная доставка</p>
                </div>
                <div class="photoType__item-bottom">
                    <p>4 Photos + Digital included</p>
                    <p>PNG высокого качества</p>
                </div>
            </div>
        </div>
    </div>
</div>