<section class="tarifs">
    <div class="tarifs__container _container">
        <div class="tarifs__title animate__backInDown wow">
            <h2>Список тарифов</h2>
            <p>Выбери подходящий тариф для себя</p>
        </div>
        <div class="tarifs__grid">
            <div class="tarifs__item animate__fadeInRight wow">
                <h3><a href="">1 месяц</a></h3>
                <p>Более 350+ каналов, HD качество,  мультилогин, ТВ — архив 7 дней,  приставка, бесплатная установка</p>
                <div class="tarifs__item-price">
                    <span>20.00 €</span>
                    <p>Без продления</p>
                </div>
                <a href="" class="buy-btn">Выбрать</a>
            </div>
            <div class="tarifs__item favorit-item animate__fadeInUp wow">
                <div class="tarifs__item-favorit">
                    <img src="img/favorit-bg.svg" alt="">     
                    <span>Выгодно</span>
                </div>
                <h3><a href="">12 месяцев</a></h3>
                <p>Более 350+ каналов, HD качество,  мультилогин, ТВ — архив 7 дней,  приставка, бесплатная установка</p>
                <div class="tarifs__item-price">
                    <span>165.00 €</span>
                    <p>Единоразово (13.75 € в месяц)</p>
                </div>
                <a href="" class="buy-btn">Выбрать</a>
            </div>
            <div class="tarifs__item animate__fadeInLeft wow">
                <h3><a href="">12 месяцев</a></h3>
                <p>Более 350+ каналов, HD качество,  мультилогин, ТВ — архив 7 дней,  приставка, бесплатная установка</p>
                <div class="tarifs__item-price">
                    <span>14.99 €</span>
                    <p>Оплата каждый месяц</p>
                </div>
                <a href="" class="buy-btn">Выбрать</a>
            </div>
        </div>
    </div>
</section>