<div class="advantages">
    <div class="advantages__cont">
        <div class="advantages__title">
            <h2>Почему?</h2>
            <p>Сделайте биометрическую фотографию, не выходя из дома
                Вы экономите 
                <span> время и деньги</span>
            </p>
            <button>выбрать документ</button>
        </div>
        <div class="advantages__flex">
            <div class="advantages__text">
                <div class="advantages__item">
                    <div class="icon"><img src="img/advantages-icon.svg" alt=""></div>
                    <div class="text">
                        <h4>Удобство</h4>
                        <p>Не тратьте время, силы и деньги. Вы можете сделать фото на паспорт, не выходя из дома.</p>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="icon"><img src="img/advantages-icon2.svg" alt=""></div>
                    <div class="text">
                        <h4>Профессиональное обслуживание</h4>
                        <p>За последние 11 лет нашими услугами воспользовались более 1 миллиона человек. Наши фотоэксперты доступны 24/7.</p>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="icon"><img src="img/advantages-icon3.svg" alt=""></div>
                    <div class="text">
                        <h4>Гарантия приема</h4>
                        <p>Мы даем вам гарантию принятия властями, в противном случае мы вернем вам двойную цену!</p>
                    </div>
                </div>
                <div class="advantages__item">
                    <div class="icon"><img src="img/advantages-icon4.svg" alt=""></div>
                    <div class="text">
                        <h4>Гарантия удовлетворения</h4>
                        <p>Делайте столько снимков, сколько хотите - вы платите только тогда, когда будете удовлетворены.</p>
                    </div>
                </div>
            </div>
            <div class="advantages__img"><img src="img/advantagesImg.png" alt=""></div>
        </div>
    </div>
</div>