<div class="canals-swiper">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/1.1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/3.3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/4.4.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/cmpl 1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/6.6.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/7.7.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/8.8.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/9.9.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/10.10.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/dc1ecd6a8b61a87ebca183f93e8f581c.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/2.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/1.1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/3.3.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/4.4.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/cmpl 1.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/6.6.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/7.7.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/8.8.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/9.9.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/10.10.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/dc1ecd6a8b61a87ebca183f93e8f581c.png" alt="">
            </div>
        </div>
    </div>
</div>