<section class="faq">
    <div class="faq__container _container">
        <div class="faq__title animate__backInDown wow">
            <h2>Частые вопросы</h2>
            <p>Тут есть ответы на большинство ваших вопросов</p>
            <a href="faq.html">Смотреть больше
                <svg width="44" height="22" viewBox="0 0 44 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 9.6C1.2268 9.6 0.6 10.2268 0.6 11C0.6 11.7732 1.2268 12.4 2 12.4V9.6ZM42.9899 11.9899C43.5367 11.4432 43.5367 10.5568 42.9899 10.0101L34.0804 1.1005C33.5337 0.553771 32.6472 0.553771 32.1005 1.1005C31.5538 1.64724 31.5538 2.53367 32.1005 3.0804L40.0201 11L32.1005 18.9196C31.5538 19.4663 31.5538 20.3528 32.1005 20.8995C32.6472 21.4462 33.5337 21.4462 34.0804 20.8995L42.9899 11.9899ZM2 12.4H42V9.6H2V12.4Z" fill="white"></path>
                </svg>
            </a>
        </div>
        <div class="faq__questions">
            <div class="faq__item animate__fadeInRight wow">
                <div class="faq__item-title">
                    <h4>Что необходимо знать для подключения услуги?</h4>
                    <button class="faq-btn">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            <path
                                d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                        </svg>

                    </button>
                </div>
                <div class="faq__item-hiden">
                    <p>Легко! Один логин может использоваться одновременно на 5 устройствах. Эта услуга входит в любой
                        пакет. Функция работает при условии, что все 5 устройств имеют общий выход в интернет и должны
                        быть подключены к интернету через один и тот же модем или роутер</p>
                </div>
            </div>
            <div class="faq__item animate__fadeInLeft wow">
                <div class="faq__item-title">
                    <h4>При окончании срока действия. Что делать?</h4>
                    <button class="faq-btn">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            <path
                                d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                        </svg>

                    </button>
                </div>
                <div class="faq__item-hiden">
                    <p>Легко! Один логин может использоваться одновременно на 5 устройствах. Эта услуга входит в любой
                        пакет. Функция работает при условии, что все 5 устройств имеют общий выход в интернет и должны
                        быть подключены к интернету через один и тот же модем или роутер</p>
                </div>
            </div>
            <div class="faq__item animate__fadeInRight wow">
                <div class="faq__item-title">
                    <h4>Есть у вас партнерские или реферальные программы?</h4>
                    <button class="faq-btn">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            <path
                                d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                        </svg>

                    </button>
                </div>
                <div class="faq__item-hiden">
                    <p>Легко! Один логин может использоваться одновременно на 5 устройствах. Эта услуга входит в любой
                        пакет. Функция работает при условии, что все 5 устройств имеют общий выход в интернет и должны
                        быть подключены к интернету через один и тот же модем или роутер</p>
                </div>
            </div>
            <div class="faq__item animate__fadeInLeft wow">
                <div class="faq__item-title">
                    <h4>Как добавить канал которого нет в пакете?</h4>
                    <button class="faq-btn">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            <path
                                d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                        </svg>

                    </button>
                </div>
                <div class="faq__item-hiden">
                    <p>Легко! Один логин может использоваться одновременно на 5 устройствах. Эта услуга входит в любой
                        пакет. Функция работает при условии, что все 5 устройств имеют общий выход в интернет и должны
                        быть подключены к интернету через один и тот же модем или роутер</p>
                </div>
            </div>
        </div>
        
        <h3>Готовы смотреть?</h3>
        <a href="faq.html" class="showmore-btn">Оформить подписку</a>
    </div>
</section>