<section class="dive">
    <img src="img/bgimg2.png" alt="" class="bg-img">
    <div class="dive__container container">
        <h2>«Пустая чаша» — Погружение в суть самопознания</h2>
        <div class="dive__flex">
            <div class="bg-color"></div>
            <div class="dive__img">
                <img src="img/aboutKnowMore.png" alt="">
            </div>
            <div class="dive__info">
                <p>Метод «Пустая Чаша» — это уникальный сплав обширного опыта Майка, глубоких знаний человеческой природы, даосской философии и последних открытий современной науки.</p>
                <p>Этот метод не просто терапевтическая практика, это путь к глубокому самопознанию и гармонии, направленный на объединение духа, разума и тела.</p>
                <a href="" class="button"><span class="btn-text">Узнать больше о методе</span></a>
            </div>
        </div>
    </div>
</section>