<section class="author-main">
  <div class="author-main__container container">
    <div class="author-main__top">
      <div class="author-main__top-img">
        <span></span><span></span>
        <img src="img/" alt="">
      </div>
      <div class="author-main__top-text">
        <h1></h1>
        <p></p>
      </div>
    </div>
    <div class="author-main__info">
      <h2></h2>
      <div class="author-main__info-flex">
        <div class="author-main__info-img">
          <img src="img/" alt="">
        </div>
        <div class="author-main__info-text">
          <p></p>
          <p></p>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <a href=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
