<section class="films" id="films">
    <div class="films__container _container">
        <div class="films__title animate__backInDown wow">
            <h2>Более 10000+ фильмов и шоу</h2>
            <p>Смотрите блокбастеры и фильмы на своем большом экране</p>
        </div>
        <div class="films__animation">
            <div class="films__tv">
                <div class="films__tv-img">
                    <img src="img/Mask group (1).png" alt="">
                </div>
                <div class="films__flex">
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                </div>
            </div>
            <div class="films__bg">
                <div class="films__flex">
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5.png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (1).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 27 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 26 (2).png" alt="">
                    </div>
                    <div class="films__item">
                        <img src="img/Rectangle 5 (2).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>