<section class="about-kiril">
    <div class="about-kiril__container container">
        <div class="bg-color"></div>
        <div class="about-kiril__img">
            <img src="img/kirikil.png" alt="">
        </div>
        <div class="about-kiril__text">
            <div class="about-kiril__title">
                <span>Преподаватель семинара</span>
                <h2>Кирилл Ярхо</h2>
            </div>
            <p>Кирилл Ярхо, врач педиатр, остеопат и ведущий семинара «Пустая Чаша». </p>
            <ul>
                <li>• Окончил Ленинградский Педиатрический Институт (1988–1993 г.г.).</li>
                <li>• Доктор Остеопатии с 2002 года (РВШОМ).</li>
                <li>• Проходил стажировку в разных направлениях и с разными преподавателями в Испании, Германии, Франции, Канаде.</li>
                <li>• Практикует остеопатию с 1999 года (с момента знакомства с ней).</li>
            </ul>
        </div>
    </div>
</section>