<section class="philosophy">
    <img src="img/bgimg1.png" alt="" class="bg-img">
    <div class="philosophy__container container">
        <h2>Его Философия — это Сплетение науки и духовности</h2>
        <div class="philosophy__flex">
            <div class="bg-color"></div>
            <div class="philosophy__info">
                <p>В последние годы своей жизни Майк сосредоточился на объединении различных областей знаний, стремясь к гармонии между древней мудростью и передовыми научными открытиями, такими как эпигенетика и биоцентризм.</p>
                <p>Это исследование помогло развить новое понимание взаимосвязей между сердцем и интеллектом, мужским и женским началами, внося значительный вклад в расширение осознанности.</p>
            </div>
            <div class="philosophy__img">
                <img src="img/aboutEarth.png" alt="">
            </div>
        </div>
    </div>
</section>