<section class="video-block">
    <div class="video-block__container container">
        <div class="video-block__title">
            <h2>Пустая чаша — это возможность уйти за пределы пережитого жизненного опыта и открыть новый уровень себя</h2>
            <p>Кирилл Ярхо, Преподаватель семинара </p>
            <span class="icon"><img src="img/chicon.svg" alt=""></span>
        </div>
        <div class="video-block__box">
            <img src="img/youtube1.png" alt="">
        </div>
    </div>
</section>