<section class="make">
    <div class="make__container _container">
        <h2>Запишитесь на 60-ти минутный сеанс в вашем городе </h2>
        <div class="make__flex">
            <img src="img/make.png" alt="">
            <img src="img/make2.png" alt="">
        </div>
        <p>Во время сеанса ощущения могут быть самыми разными - просто попробуйте довериться Телу. Терапевт накроет вас мягким одеялом и совместно с вами погрузится в Тишину, не пытаясь изменить или навязать что-либо извне</p>
        <p>Мысли, ощущения, образы, сонливость, сомнения, напряжение, комфорт или дискомфорт - просто принимайте всё , что приносит вам Настоящее.</p>
        <p>Терапевт будет с вами. Только с вами. Какую бы форму не принял для вас терапевтический процесс.</p>
        <p>Пусть Высшее Знание спокойно делает свою работу. </p>
        <a href="">Найти терапевта в своем городе</a>
    </div>
</section>