<div class="payment">
    <div class="payment__cont">
        <h2>Оплата</h2>
        <div class="payment__box">
            <div class="payment__item">
                <div class="payment__title">
                    <label for="" class="checkbox">
                        <input type="checkbox" name="" id="">
                        <span></span>
                        <p>Google Pay</p>
                    </label>
                    <div class="icon"><img src="img/image 2.png" alt=""></div>
                </div>
            </div>
            <div class="payment__item">
                <div class="payment__title">
                    <label for="" class="checkbox">
                        <input type="checkbox" name="" id="">
                        <span></span>
                        <p>PayPal</p>
                    </label>
                    <div class="icon"><img src="img/image 3 (1).png" alt=""></div>
                </div>
            </div>
            <div class="payment__item active">
                <div class="payment__title">
                    <label for="" class="checkbox">
                        <input type="checkbox" checked="true">
                        <span></span>
                        <p>Кредитная карта</p>
                    </label>
                    <div class="icon"><img src="img/image 4.png" alt=""></div>
                </div>
                <form action="" class="payment__form">
                    <label for="">Номер карты
                        <input type="text">
                    </label>
                    <label for="">Срок действия
                        <input type="text">
                    </label>
                    <label for="">CVV/CVC
                        <input type="text">
                    </label>
                </form>
            </div>
        </div>
        <input type="submit" class="payment__btn" value="Оплатить сейчас 78.99$">
    </div>
</div>