<section class="autorization">
    <div class="autorization__container container">
        <h1>Восстановление пароля</h1>
        <div class="autorization__form">
            <a href="">
                <svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 0.5L1 4.5L5 8.5" stroke="#E0D0C0" stroke-opacity="0.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>назад                    
            </a>
            <div class="autorization__type" id="autorization-buttons">
                <button class="active" onclick="seTAutorizationType('email')">Почта</button>
                <button onclick="seTAutorizationType('phone')">Телефон</button>
            </div>
            <form action="">
                <label class="input-text" id="login-input"><span>e-mail</span><input type="text" placeholder="Введите почту"></label>
                <label class="input-btn"><input type="submit" value="Продолжить"></label>
            </form>
        </div>
    </div>
</section>