<section class="services-complex">
    <div class="services-complex__container _container">
        <h1>Комплексные поставки оборудования</h1>
        <div class="services-complex__text">
            <p>ООО "Оптима" выполняет комплексные поставки оборудования для подсистем автоматики и автоматизации, диспетчеризации, электроснабжения и телекоммуникаций.</p>
            <a class="img">
                <img src="img/5dfec5df3fa5f7ac8e9d4ab05a59864e.png" alt="">
            </a>
            <p>Обладая значительным опытом монтажных и пусковых работ (ПНР) вышеперечисленных систем, специалисты компании в минимальные сроки могут подобрать аналоги моделей, которые морально устарели или больше не выпускаются, а также замену отсутствующей на складе компании продукции, посоветуют наиболее экономичные и(или) надежные модели, а также помогут избежать поставки дублирующего оборудования. Поставка продукции возможна согласно проектной документации, заказным спецификациям или индивидуальному техническому заданию.</p>
            <p>
                ООО "Оптима" является как самостоятельным <a href="services-assembly.html"> производителем электрощитового оборудования, </a> так и официальным партнером целого ряда мировых производителей  электротехнического, телекоммуникационного и монтажного оборудования, таких как: EATON, APC, ABB, ЦМО, Shnider Electric, Rittal и др. Официальное партнерство дает возможность компании "Оптима" приобретать оборудование напрямую от официальных дистрибьютеров или производителей товара, не задействуя других посредников, что снижает время передачи оборудования заказчику и минимизирует затраты на оборудование.
            </p>
            <p>Заключая с ООО "Оптима" договор на поставку любой продукции, Вы получаете гарантию, что требуемая номенклатура будет поставлена полностью в минимально возможные сроки, через официальные каналы производителей.</p>
        </div>
    </div>
</section>