<section class="practice-event">
    <div class="practice-event__container container">
        <img src="img/bgimg2.png" alt="" class="bg-img">
        <h2>СТАНЬТЕ нашим ПРАКТИКОМ или ПРОВОДИТЕ мероприятия САМОСТОЯТЕЛЬНО</h2>
        <div class="practice-event__flex">
            <div class="practice-event__text">
                <p>Зарегистрируйтесь на нашем сайте, чтобы стать частью «Мастеров Покоя» или организовать мероприятия. </p>
                <p>Это быстрый способ для терапевтов присоединиться к нашему профессиональному сообществу и для организаторов взаимодействовать с нашей платформой.</p>
                <a href="">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            </div>
            <div class="practice-event__img">
                <img src="img/practice-event.png" alt="">
            </div>
        </div>
    </div>
</section>