<section class="recomended">
    <div class="recomended__container _container">
        <h2>Сопутствующее оборудование</h2>
        <div class="recomended__grid">
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p class="brand">Производитель: <span>КЭАЗ</span></p>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p class="brand">Производитель: <span>КЭАЗ</span></p>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p class="brand">Производитель: <span>КЭАЗ</span></p>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
        </div>
    </div>
</section>