<section class="seminar-about">
    <div class="seminar-about__container container">
        <div class="seminar-about__img">
            <img src="img/seminar1.png" alt="">
            <img src="img/seminar2.png" alt="">
        </div>
        <div class="seminar-about__right">
            <h2>3-х дневный Семинар, На котором вы соприкоснётесь с 9 жемчужинами</h2>
            <ul>
                <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="#FFB1B1" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_radial_2016_10639)" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint1_linear_2016_10639)" />
                        <defs>
                            <radialGradient id="paint0_radial_2016_10639" cx="0" cy="0" r="1"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(5 4.28571) rotate(58.5125) scale(6.70097 4.70701)">
                                <stop stop-color="white" />
                                <stop offset="1" stop-color="white" stop-opacity="0" />
                            </radialGradient>
                            <linearGradient id="paint1_linear_2016_10639" x1="5" y1="1" x2="14.5" y2="19"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F4DEDC" stop-opacity="0" />
                                <stop offset="1" stop-color="#9B5B5B" />
                            </linearGradient>
                        </defs>
                    </svg>

                    <span>Сердце</span>Сердце — это Центр Творения. Вы получите доступ к возможностям, вдохновению
                    и глубокому пониманию.
                </li>
                <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="#FFB1B1" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_radial_2016_10639)" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint1_linear_2016_10639)" />
                        <defs>
                            <radialGradient id="paint0_radial_2016_10639" cx="0" cy="0" r="1"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(5 4.28571) rotate(58.5125) scale(6.70097 4.70701)">
                                <stop stop-color="white" />
                                <stop offset="1" stop-color="white" stop-opacity="0" />
                            </radialGradient>
                            <linearGradient id="paint1_linear_2016_10639" x1="5" y1="1" x2="14.5" y2="19"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F4DEDC" stop-opacity="0" />
                                <stop offset="1" stop-color="#9B5B5B" />
                            </linearGradient>
                        </defs>
                    </svg>

                    <span>Доверие</span>Доверие не поддаётся рациональному объяснению или логическому основанию.
                    Оно исходит из нашего сердца, а не из разума или интеллекта. Доверие нельзя включить или выключить
                    по желанию. Мы научим вас доверять себе и миру.
                </li>
                <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="#FFB1B1" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_radial_2016_10639)" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint1_linear_2016_10639)" />
                        <defs>
                            <radialGradient id="paint0_radial_2016_10639" cx="0" cy="0" r="1"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(5 4.28571) rotate(58.5125) scale(6.70097 4.70701)">
                                <stop stop-color="white" />
                                <stop offset="1" stop-color="white" stop-opacity="0" />
                            </radialGradient>
                            <linearGradient id="paint1_linear_2016_10639" x1="5" y1="1" x2="14.5" y2="19"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F4DEDC" stop-opacity="0" />
                                <stop offset="1" stop-color="#9B5B5B" />
                            </linearGradient>
                        </defs>
                    </svg>

                    <span>Настоящее</span>Вы почувствуете себя в настоящем — единственном, что действительно существует
                    прямо сейчас.
                </li>
                <li>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="10" cy="10" r="10" fill="#FFB1B1" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint0_radial_2016_10639)" />
                        <circle cx="10" cy="10" r="10" fill="url(#paint1_linear_2016_10639)" />
                        <defs>
                            <radialGradient id="paint0_radial_2016_10639" cx="0" cy="0" r="1"
                                gradientUnits="userSpaceOnUse"
                                gradientTransform="translate(5 4.28571) rotate(58.5125) scale(6.70097 4.70701)">
                                <stop stop-color="white" />
                                <stop offset="1" stop-color="white" stop-opacity="0" />
                            </radialGradient>
                            <linearGradient id="paint1_linear_2016_10639" x1="5" y1="1" x2="14.5" y2="19"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#F4DEDC" stop-opacity="0" />
                                <stop offset="1" stop-color="#9B5B5B" />
                            </linearGradient>
                        </defs>
                    </svg>

                    <span>Слышание</span>Базовая потребность человека — быть и выслушанным без советов и мнений. У нас
                    вы будете выслушанным, а это значит — исцелённым.
                </li>
            </ul>
            <div class="seminar-about__flex">
                <a href="">Подробнее о семинаре</a>
                <span>Узнайте ещё про 5 жемчужин и подробнее о семинаре</span>
            </div>
        </div>
    </div>
</section>