<section class="seminar-about">
    <div class="seminar-about__container container">
        <h2>3-х дневный Семинар, На котором вы соприкоснётесь с 9 жемчужинами</h2>
        <div class="seminar-about__flex">
            <div class="seminar-about__img">
                <img src="img/seminar1.png" alt="">
                <img src="img/seminar2.png" alt="">
            </div>
            <div class="seminar-about__right">
                <h2>3-х дневный Семинар, На котором вы соприкоснётесь с 9 жемчужинами</h2>
                <ul>
                    <li><span>Сердце</span>Сердце — это Центр Творения. Вы получите доступ к возможностям, вдохновению и глубокому пониманию.</li>
                    <li><span>Доверие</span>Доверие не поддаётся рациональному объяснению или логическому основанию. Оно исходит из нашего сердца, а не из разума или интеллекта. Доверие нельзя включить или выключить по желанию. Мы научим вас доверять себе и миру.</li>
                    <li><span>Настоящее</span>Вы почувствуете себя в настоящем — единственном, что действительно существует прямо сейчас.</li>
                    <li><span>Слышание</span>Базовая потребность человека — быть и выслушанным без советов и мнений. У нас вы будете выслушанным, а это значит — исцелённым.</li>
                </ul>
                <div class="seminar-about__buttons">
                    <a href="">Подробнее о семинаре</a>
                    <span>Узнайте ещё про 5 жемчужин и подробнее о семинаре</span>
                </div>
            </div>
        </div>
    </div>
</section>