<header class="header">
    <div class="header__top">
        <div class="header__container container">
            <a href="/" class="logo">
                <img src="/img/logo.svg" alt="">
                <span>Централизованная <br> библиотечная система <br> ивановского округа</span>
            </a>
            <div class="header__top-contacts flex">
                <a href="" class="contact-link">
                    <svg width="24" height="24" viewBox="0 0 24 24">
                        <use xlink:href="/img/sprite.svg#icon-wp"></use>
                    </svg>
                    +7(996)460-02-06
                </a>
                <a href="" class="contact-link">График работы</a>
                <a href="" class="contact-link">Контакты</a>
                <div class="header__top-bts flex">
                    <a href="" class="button no-bg">Продлить книгу</a>
                    <a href="" class="button">Стать читателем</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__container container">
            <ul class="menu">
                <li><a href="">О нас </a></li>
                <li><a href="">Библиотеки</a></li>
                <li><a href="">Афиша</a></li>
                <li><a href="">Новости</a></li>
                <li><a href="">Услуги</a></li>
                <li><a href="">Краеведение</a></li>
                <li><a href="">Бибилиотека детям</a></li>
                <li><a href="">Руководителям</a></li>
            </ul>
        </div>
    </div>
    <div class="header__search">
        <div class="header__container container">
            <div class="flex">
                <label for="" class="search-in">
                    <select name="" id="">
                        <option value="">по каталогу</option>
                        <option value="">Библиотека 1</option>
                        <option value="">Библиотека 2</option>
                        <option value="">Библиотека 3</option>
                    </select>
                </label>
                <label class="search-input"><input type="text" placeholder="Поиск по сайту"></label>
                <button class="button">
                    Поиск
                    <svg width="25" height="24" viewBox="0 0 25 24">
                        <use xlink:href="/img/sprite.svg#icon-search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>