<section class="registration">
    <div class="registration__container _container">
        <h1>Регистрация</h1>
        <form action="" class="registration__form">
            <div class="flex">
                <label for="" class="input-text"><input type="text" required placeholder="HeadHunter ID"></label>
                <label for="" class="input-text"><input type="text" required placeholder="Компания"></label>
                <div class="input-text">
                    <select name="" id="" required>
                        <option value="1">Отрасль</option>
                        <option value="2">Должность</option>
                        <option value="3">---</option>
                        <option value="4">Разное</option>
                        <option value="5">Cпециалист по подбору персонала/HR-Менеджер/Recruitment Manager</option>
                        <option value="6">HR директор/CHRO/HR Director/HRD/Директор департамента по работе с персоналом/Директор по организационному развитию/Вице-президент по персоналу/HRD</option>
                        <option value="7">HR директор/CHRO/HR Director/HRD/Директор департамента по работе с персоналом/Директор по организационному развитию/Вице-президент по персоналу/HRD</option>
                        <option value="8">Employer brand lead/Employer Brand Manager/Employer Branding Manager/Специалист по развитию корпоративного бренда/Директор по развитию бренда работодателя</option>
                        <option value="9">HR-партнер/Head of HR BP/HR BP/Head of business recruitment/HR Business Partner/HR бизнес-партнер</option>
                        <option value="10">Специалист/Менеджер/Руководитель отдела по корпоративной культуре и внутренним коммуникациям</option>
                        <option value="11">Генеральный директор/Заместитель генерального директора/Управляющий директор/Исполнительный директор/Директор по развития</option>
                        <option value="12">Специалист отдела обучения/Эксперт дистанционного обучения/Директор Дирекции по корпоративному обучению/Координатор по обучению и развитию</option>
                        <option value="13">Руководитель проектов/Руководитель HR-проектов/Специалист HR-проектов</option>
                        <option value="14">Начальник отдела кадров/Специалист кадровой службы/Специалист отдела кадров/Специалист по делопроизводству</option>
                        <option value="15">Head of Marketing & PR/CMO/Начальник Департамента коммуникаций и маркетинга/Директор по маркетингу и коммуникациям</option>
                        <option value="16">Специалист по управлению талантов/Директор по развитию талантов/Директор по развитию опыта сотрудника/Директор по управлению талантами</option>
                        <option value="17">Account Director/ Менеджер по работе с ключевыми клиентами / Sales Lead / Начальник отдела продаж / Менеджер по продажам</option>
                        <option value="18">Специалист по управлению талантов/Специалист по управлению талантов/Директор по развитию талантов/Директор по развитию опыта сотрудника/Директор по управлению талантами</option>
                        <option value="19">Head of IT Recruitment/HR BP IT/IT-рекрутер</option>
                        <option value="20">Руководитель массподбора</option>
                        <option value="21">HR-маркетолог</option>
                        <option value="22">Руководитель направления C&B/Руководитель направления компенсаций и льгот/Специалист по компенсациям и льготам</option>
                        <option value="23">Директор департамента аналитики, аналитик</option>
                        <option value="24">SMM менеджер/SMM-специалист</option>
                        <option value="25">Event-менеджер</option>
                        <option value="26">Руководитель проектов/Руководитель проектов/Руководитель HR-проектов/Специалист HR-проектов</option>
                    </select>
                </div>
                <label for="" class="input-text"><input type="text" required placeholder="Должность"></label>
                <label for="" class="input-text"><input type="text" required placeholder="Имя"></label>
                <label for="" class="input-text"><input type="text" required placeholder="Фамилия"></label>
                <label for="" class="input-text"><input type="email" required placeholder="Email"></label>
                <label for="" class="input-text"><input type="text" required placeholder="Телефон"></label>
            </div>
            <label for="" class="checkbox">
                <input type="checkbox" name="" id="" required>
                <span></span>
                <p onclick="showModal('terms-modal')">Согласие на обработку персональных данных</p>
            </label>
            <label for="" class="input-btn">
                <input type="submit" value="Продолжить">
            </label>
        </form>
    </div>
</section>