<section class="catalog">
    <div class="catalog__container _container">
        <h1>Все товары</h1>
        <div class="catalog__swiper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="active">Все товары</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Автоматические выключатели</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Модульное оборудование (Устройства на DIN-рейку)</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Выключатели нагрузки</a>
                    </div>
                    <div class="swiper-slide">
                        <a href="">Автоматические выключатели дифференциального тока (АВДТ)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog__flex">
            <div class="catalog__flex-left">
                <button class="fillter-btn" onclick="toggleFiltrModal('filtr-modal')">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="39" height="39" rx="4.5" stroke="#333333"/>
                        <path d="M10.0667 14.6491L10.0666 14.649C9.70292 14.2917 9.50014 13.8089 9.5 13.3073C9.5 13.3072 9.5 13.3072 9.5 13.3072V10.8017C9.5 10.4593 9.63832 10.1291 9.88744 9.88432C10.1368 9.63922 10.4769 9.5 10.8333 9.5H29.1667C29.5231 9.5 29.8632 9.63922 30.1126 9.88432C30.3617 10.1291 30.5 10.4593 30.5 10.8017V13.3072C30.5 13.3072 30.5 13.3072 30.5 13.3073C30.4999 13.8089 30.2971 14.2917 29.9334 14.649L29.9333 14.6491L23.3162 21.152L23.1667 21.299V21.5087V30.4259V30.426C23.1667 30.5643 23.1307 30.7009 23.0616 30.8227C22.9925 30.9446 22.8922 31.0481 22.7695 31.1227C22.6467 31.1972 22.506 31.2401 22.3606 31.2465C22.2151 31.2529 22.0708 31.2227 21.9414 31.1591L21.9413 31.1591L17.3984 28.9274C17.227 28.8432 17.0841 28.7143 16.9848 28.5564C16.8855 28.3985 16.8333 28.2174 16.8333 28.0332V21.5087V21.299L16.6838 21.152L10.0667 14.6491Z" fill="#FD8900" stroke="#FD8900"/>
                    </svg>                        
                </button>
                <div class="sort">
                    <p>Сортировать по:</p>
                    <a href="">Цена</a>
                    <span>/</span>
                    <a href="">Название</a>
                </div>
            </div>
            <div class="pagination">
    <a href="" class="active-page">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <span>...</span>
    <a href="">75</a>
</div>
        </div>
        <div class="catalog__grid">
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 676,35 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 597,05 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 203,53 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 821,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 937,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 676,35 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 597,05 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 203,53 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 821,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 937,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 676,35 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 597,05 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 203,53 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 821,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 937,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
        </div>
        <div class="pagination">
    <a href="" class="active-page">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <span>...</span>
    <a href="">75</a>
</div>
    </div>
</section>