<section class="feedback">
    <div class="feedback__container container">
        <div class="feedback__title">
            <h2>Что говорят люди после прохождения «пустой чаши»?</h2>
            <p>Наши практики полезны всем, кто хотел бы жить из состояния расширенной осознанности, а не слепого повторения персональных, профессиональных, социальных или иных поведенческий паттернов</p>
        </div>
        <div class="feedback__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="img/video.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="img/video2.png" alt=""> 
                </div>
                <div class="swiper-slide">
                    <img src="img/video3.png" alt="">
                </div>
            </div>
        </div>
        <div class="showmore">
            <a href="">СМОТРЕТЬ ВСЕ ОТЗЫВЫ</a>
        </div>
    </div>
</section>