<section class="homeabaut">
    <div class="homeabaut__container _container">
        <div class="homeabaut__text">
            <h2>DinBox.TV este ușor accesibil și foarte convenabil pentru dvs</h2>
            <p>Abonați-vă la cea mai largă biblioteca media de filme, emisiuni și seriale.Bucurați-vă de cel mai calitativ conținut video de pe piață.</p>
            <div class="homeabaut__text-flex">
                <div class="homeabaut__text-item">
                    <div class="icon">
                        <svg width="42" height="26" viewBox="0 0 42 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2.4375 1.75V13M2.4375 13V24.2499M2.4375 13H16.875M16.875 13V1.75M16.875 13V24.2499M23.0625 13V1.75C31.3125 1.75 39.5625 1.75 39.5625 13C39.5625 24.2499 31.3125 24.2499 23.0625 24.2499V13Z" stroke="url(#paint0_radial_1_190)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            <defs>
                            <radialGradient id="paint0_radial_1_190" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(16.0113 41.1249) rotate(-84.5533) scale(69.9047 49.7275)">
                            <stop stop-color="#FF9933"/>
                            <stop offset="0.516164" stop-color="#FB7932"/>
                            <stop offset="1" stop-color="#F33830"/>
                            </radialGradient>
                            </defs>
                        </svg>                            
                    </div>
                    <h4>FHD & 4K UHD</h4>
                    <p>DinBox va ofera canalele TV romanesti in cea mai buna calitate.</p>
                </div>
                <div class="homeabaut__text-item">
                    <div class="icon">
                        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.4848 26.799L24.4798 31.7098C25.9439 32.6098 27.7355 31.2794 27.3502 29.5968L25.2311 20.3622L32.3013 14.1405C33.592 13.0058 32.8985 10.8536 31.2032 10.7167L21.8983 9.91452L18.2572 1.18857C17.6022 -0.396189 15.3675 -0.396189 14.7125 1.18857L11.0714 9.89495L1.7665 10.6971C0.0711981 10.8341 -0.622337 12.9862 0.668408 14.121L7.73861 20.3426L5.61947 29.5773C5.23418 31.2598 7.02581 32.5902 8.48994 31.6903L16.4848 26.799Z" fill="white"/>
                            <path d="M16.4848 26.799L24.4798 31.7098C25.9439 32.6098 27.7355 31.2794 27.3502 29.5968L25.2311 20.3622L32.3013 14.1405C33.592 13.0058 32.8985 10.8536 31.2032 10.7167L21.8983 9.91452L18.2572 1.18857C17.6022 -0.396189 15.3675 -0.396189 14.7125 1.18857L11.0714 9.89495L1.7665 10.6971C0.0711981 10.8341 -0.622337 12.9862 0.668408 14.121L7.73861 20.3426L5.61947 29.5773C5.23418 31.2598 7.02581 32.5902 8.48994 31.6903L16.4848 26.799Z" fill="url(#paint0_radial_1_188)"/>
                            <defs>
                            <radialGradient id="paint0_radial_1_188" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(12.0545 56) rotate(-86.5927) scale(99.1467 44.2835)">
                            <stop stop-color="#FF9933"/>
                            <stop offset="0.516164" stop-color="#FB7932"/>
                            <stop offset="1" stop-color="#F33830"/>
                            </radialGradient>
                            </defs>
                        </svg>                            
                    </div>
                    <h4>Peste 350 de canale TV</h4>
                    <p>Pachete din cele mai bune romanesti și canale TV străinela prețuri plăcute</p>
                </div>
            </div>
        </div>
        <img src="img/Group 1597882680.png" alt="" class="homeabaut__img">
    </div>
</section>