<section class="teacher">
    <div class="teacher__container container">
        <img src="img/bgimg1.png" alt="" class="bg-img">
        <div class="teacher__img"><img src="img/teacher.png" alt=""></div>
        <div class="teacher__text">
            <span>Преподаватель семинара</span>
            <h2>Кирилл Ярхо</h2>
            <p>Одним из его близких учеников и друзей, которые в течении многих лет сопровождали Майка на его курсах является Кирилл. Он посвятил свою жизнь продолжению того Пути и Работы которую на протяжении многих лет исследовал, путешествуя рука об руку со своим Учителем.</p>
            <a href="">ЧИТАТЬ биографию КИРИЛЛА</a>
        </div>
    </div>
</section>