<section class="about-know-more">
  <div class="about-know-more__container container">
    <img src="img/bgimg2.png" alt="" class="bg-img">
    <div class="about-know-more__item">
      <h2>«Пустая чаша» — Погружение в суть самопознания</h2>
      <svg
        width="1600"
        height="1359"
        viewBox="0 0 1600 1359"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g opacity="0.34" filter="url(#filter0_f_2012_3079)">
          <path
            d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
            fill="url(#paint0_linear_2012_3079)"
          />
          <path
            d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
            fill="url(#paint1_radial_2012_3079)"
          />
          <path
            d="M1356 679.5C1356 833.864 1141.99 959 878 959C614.008 959 400 833.864 400 679.5C400 525.136 614.008 400 878 400C1141.99 400 1356 525.136 1356 679.5Z"
            fill="url(#paint2_angular_2012_3079)"
            fill-opacity="0.4"
          />
        </g>
        <defs>
          <filter
            id="filter0_f_2012_3079"
            x="0"
            y="0"
            width="1756"
            height="1359"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="BackgroundImageFix"
              result="shape"
            />
            <feGaussianBlur
              stdDeviation="200"
              result="effect1_foregroundBlur_2012_3079"
            />
          </filter>
          <linearGradient
            id="paint0_linear_2012_3079"
            x1="878"
            y1="400"
            x2="878"
            y2="959"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FF764C" />
            <stop offset="1" stop-color="#FFEFC3" />
          </linearGradient>
          <radialGradient
            id="paint1_radial_2012_3079"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(1303.72 822.889) rotate(162.27) scale(446.948 298.458)"
          >
            <stop stop-color="#FFEEB8" />
            <stop offset="1" stop-color="#FF8A8A" stop-opacity="0" />
          </radialGradient>
          <radialGradient
            id="paint2_angular_2012_3079"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(878 679.5) rotate(-139.511) scale(430.463 280.223)"
          >
            <stop stop-color="#FF764F" />
            <stop offset="1" stop-color="#FFF0C4" />
          </radialGradient>
        </defs>
      </svg>
      <div class="about-know-more__item-flex">
        <div class="about-know-more__item-img">
          <img src="img/aboutKnowMore.png" alt="" />
        </div>
        <div class="about-know-more__item-text">
          <p>
            Метод «Пустая Чаша» — это уникальный сплав обширного опыта Майка,
            глубоких знаний человеческой природы, даосской философии и последних 
            открытий современной науки.
          </p>
          <p>
            Этот метод не просто терапевтическая практика, это путь к глубокому
            самопознанию и гармонии, направленный на объединение духа, разума
            и тела.
          </p>
          <a href="">Узнать больше о методе</a>
        </div>
      </div>
    </div>
  </div>
</section>
