<section class="confirmation">
    <div class="confirmation__container _container">
        <div class="confirmation__title">
            <h1>Оформление покупки</h1>
            <p>Проверьте данные перед покупкой</p>
        </div>
        <div class="confirmation__flex">
            <div class="confirmation__tarif">
                <div class="tarifs__item-favorit">
                    <img src="img/favorit-bg.svg" alt="">
                    <span>Выгодно</span>
                </div>
                <p class="data">12 месяцев</p>
                <div class="confirmation__tarif-info">
                    <p>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11" r="11" fill="url(#paint0_radial_98_302)" />
                            <circle cx="11" cy="11" r="10.2" stroke="white" stroke-opacity="0.15" stroke-width="1.6" />
                            <path
                                d="M14.1375 8.67064C14.2579 8.78448 14.3282 8.94148 14.3329 9.10713C14.3376 9.27277 14.2763 9.4335 14.1625 9.55397L10.6208 13.304C10.5634 13.3646 10.4945 13.4132 10.418 13.4467C10.3415 13.4803 10.2591 13.4982 10.1756 13.4994C10.092 13.5005 10.0091 13.4849 9.93176 13.4535C9.85438 13.4221 9.78407 13.3755 9.725 13.3165L7.85 11.4415C7.7396 11.323 7.6795 11.1663 7.68236 11.0044C7.68521 10.8425 7.75081 10.688 7.86532 10.5735C7.97983 10.4589 8.13432 10.3933 8.29623 10.3905C8.45815 10.3876 8.61486 10.4477 8.73334 10.5581L10.1542 11.9781L13.2542 8.69564C13.368 8.57522 13.525 8.50494 13.6907 8.50025C13.8563 8.49556 14.017 8.55685 14.1375 8.67064Z"
                                fill="white" />
                            <defs>
                                <radialGradient id="paint0_radial_98_302" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(15.5179 1.76786) rotate(108.435) scale(22.983 37.5894)">
                                    <stop stop-color="#81BE70" />
                                    <stop offset="1" stop-color="#52A564" />
                                </radialGradient>
                            </defs>
                        </svg>
                        +350 Телеканалы
                    </p>
                    <p>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11" r="11" fill="url(#paint0_radial_98_302)" />
                            <circle cx="11" cy="11" r="10.2" stroke="white" stroke-opacity="0.15" stroke-width="1.6" />
                            <path
                                d="M14.1375 8.67064C14.2579 8.78448 14.3282 8.94148 14.3329 9.10713C14.3376 9.27277 14.2763 9.4335 14.1625 9.55397L10.6208 13.304C10.5634 13.3646 10.4945 13.4132 10.418 13.4467C10.3415 13.4803 10.2591 13.4982 10.1756 13.4994C10.092 13.5005 10.0091 13.4849 9.93176 13.4535C9.85438 13.4221 9.78407 13.3755 9.725 13.3165L7.85 11.4415C7.7396 11.323 7.6795 11.1663 7.68236 11.0044C7.68521 10.8425 7.75081 10.688 7.86532 10.5735C7.97983 10.4589 8.13432 10.3933 8.29623 10.3905C8.45815 10.3876 8.61486 10.4477 8.73334 10.5581L10.1542 11.9781L13.2542 8.69564C13.368 8.57522 13.525 8.50494 13.6907 8.50025C13.8563 8.49556 14.017 8.55685 14.1375 8.67064Z"
                                fill="white" />
                            <defs>
                                <radialGradient id="paint0_radial_98_302" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(15.5179 1.76786) rotate(108.435) scale(22.983 37.5894)">
                                    <stop stop-color="#81BE70" />
                                    <stop offset="1" stop-color="#52A564" />
                                </radialGradient>
                            </defs>
                        </svg>
                        ТВ — Архив 7 дней
                    </p>
                    <p>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11" r="11" fill="url(#paint0_radial_98_302)" />
                            <circle cx="11" cy="11" r="10.2" stroke="white" stroke-opacity="0.15" stroke-width="1.6" />
                            <path
                                d="M14.1375 8.67064C14.2579 8.78448 14.3282 8.94148 14.3329 9.10713C14.3376 9.27277 14.2763 9.4335 14.1625 9.55397L10.6208 13.304C10.5634 13.3646 10.4945 13.4132 10.418 13.4467C10.3415 13.4803 10.2591 13.4982 10.1756 13.4994C10.092 13.5005 10.0091 13.4849 9.93176 13.4535C9.85438 13.4221 9.78407 13.3755 9.725 13.3165L7.85 11.4415C7.7396 11.323 7.6795 11.1663 7.68236 11.0044C7.68521 10.8425 7.75081 10.688 7.86532 10.5735C7.97983 10.4589 8.13432 10.3933 8.29623 10.3905C8.45815 10.3876 8.61486 10.4477 8.73334 10.5581L10.1542 11.9781L13.2542 8.69564C13.368 8.57522 13.525 8.50494 13.6907 8.50025C13.8563 8.49556 14.017 8.55685 14.1375 8.67064Z"
                                fill="white" />
                            <defs>
                                <radialGradient id="paint0_radial_98_302" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(15.5179 1.76786) rotate(108.435) scale(22.983 37.5894)">
                                    <stop stop-color="#81BE70" />
                                    <stop offset="1" stop-color="#52A564" />
                                </radialGradient>
                            </defs>
                        </svg>
                        Тысячи фильмов и сериалов
                    </p>
                    <p>
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11" r="11" fill="url(#paint0_radial_98_302)" />
                            <circle cx="11" cy="11" r="10.2" stroke="white" stroke-opacity="0.15" stroke-width="1.6" />
                            <path
                                d="M14.1375 8.67064C14.2579 8.78448 14.3282 8.94148 14.3329 9.10713C14.3376 9.27277 14.2763 9.4335 14.1625 9.55397L10.6208 13.304C10.5634 13.3646 10.4945 13.4132 10.418 13.4467C10.3415 13.4803 10.2591 13.4982 10.1756 13.4994C10.092 13.5005 10.0091 13.4849 9.93176 13.4535C9.85438 13.4221 9.78407 13.3755 9.725 13.3165L7.85 11.4415C7.7396 11.323 7.6795 11.1663 7.68236 11.0044C7.68521 10.8425 7.75081 10.688 7.86532 10.5735C7.97983 10.4589 8.13432 10.3933 8.29623 10.3905C8.45815 10.3876 8.61486 10.4477 8.73334 10.5581L10.1542 11.9781L13.2542 8.69564C13.368 8.57522 13.525 8.50494 13.6907 8.50025C13.8563 8.49556 14.017 8.55685 14.1375 8.67064Z"
                                fill="white" />
                            <defs>
                                <radialGradient id="paint0_radial_98_302" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(15.5179 1.76786) rotate(108.435) scale(22.983 37.5894)">
                                    <stop stop-color="#81BE70" />
                                    <stop offset="1" stop-color="#52A564" />
                                </radialGradient>
                            </defs>
                        </svg>
                        Спортивные и детские фильмы
                    </p>
                </div>
                <div class="confirmation__tarif-bottom">
                    <p class="price">165.00 €</p>
                    <p>Единоразово (<span>13.75 € </span> в месяц)</p>
                </div>
            </div>
            <div class="confirmation__payment">
                <h2>Ваш заказ</h2>
                <form action="confirme-order.html">
                    <div class="confirmation__payment-extension">
                        <p>1 год без продления. Стандарт Рус (ES)</p>
                        <label for="" class="checkbox">
                            <input type="checkbox" name="" id="" checked>
                            <span></span>
                            <p>165.00 €</p>
                        </label>
                    </div>
                    <div class="confirmation__payment-method">
                        <p>Способ оплаты</p>
                        <div class="flex" id="payment-method">
                            <label for="" class="checkbox">
                                <input type="checkbox" name="" class="payment-btn" id="" checked>
                                <span></span>
                                <img src="img/logo (1).svg" alt="">
                            </label>
                            <label for="" class="checkbox">
                                <input type="checkbox" name="" class="payment-btn" id="">
                                <span></span>
                                <img src="img/mircard.svg" alt="">
                            </label>
                        </div>
                    </div>
                    <div class="confirmation__payment-itog">
                        <span>Итого:</span>
                        <p>165.00 €</p>
                    </div>
                    <label for="" class="input-btn">
                        <input type="submit" value="Оформить заказ">
                    </label>
                </form>
            </div>
        </div>
    </div>
</section>