<section class="revievs">
    <div class="revievs__container">
        <h1>Отзывы</h1>
        <div class="revievs__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="revievs__item">
                        <div class="revievs__item-title">
                            <div class="icon">
                                <img src="img/Ellipse 14.png" alt="">
                            </div>
                            <div class="text">
                                <h4>Имя</h4>
                                <a href="" target="_blank">Ссылка на сайт</a>
                            </div>
                        </div>
                        <div class="revievs__item-body">
                            <p>Решаем задачи бизнеса в интернете. Кейсы по созданию сайтов, SEO продвижению, рекламе,
                                SMM, внедрению CRM систем!</p>
                        </div>
                        <div class="revievs__item-bottom">
                            <p>Снимки экрана</p>
                            <div class="flex">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                                <img src="img/image 13 (1).png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<script>

    var swiper = new Swiper(".revievs .swiper", {
        slidesPerView: "auto",
        spaceBetween: 38,
        pagination: {
            el: ".revievs .swiper-pagination",
            clickable: true,
        },
    });

</script>