<section class="schedule-seminar">
  <div class="schedule-seminar__container container">
    <h2>Расписание</h2>
    <div class="schedule-seminar__box">
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>09:30–10:00</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Медитация. Без ведения, в тишине. Цели и метод медитации
            объясняются, если об этом просят.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>10:00 – 11:30</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Обычно в это время учитель рассуждает на тему, которая представляется важной и резонирует с происходящим в
            группе — развитие недавно высказанных мыслей. Кроме того, он может отвечать на вопросы слушателей.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>11:30 – 12:00</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Перерыв. Перерывов довольно много. Это время, чтобы переварить все, что ощутили участники, а также
            перекусить шоколадным печеньем и пирожками! Кроме того, перерывы помогают сменить тему и настроение.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>12:00 – 13:00</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Практическая работа в парах, где один человек лежит на кушетке, а другой занимает позицию практика либо
            стоя, либо сидя. Все полностью одеты.Прикосновения очень легкие, контакт мягкий, а намерение, которое
            объясняется заранее и время от времени повторяется, состоит в получении того, что возникает, без
            интерпретаций и реакций. Быть услышанным означает быть исцеленным; мало кого из нас качественно выслушивали
            и почти никогда — без осуждения или совета.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>13:00 – 15:00</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Обед, прогулка, отдых.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>15:00 – 15:30</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Медитация.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>15:30 – 16:30</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Обсуждение сеанса обеими сторонами. Это очень важно. Многие люди впервые проговаривают вслух свой личный
            опыт или впервые позволяют себе с ним соприкоснуться. Это бывает очень трогательно.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>16:30 – 17:00</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Перерыв.
          </h3>
        </div>
      </div>
      <div class="schedule-seminar__item">
        <div class="schedule-seminar__item-left">
          <p>17:00–19:00</p>
        </div>
        <div class="schedule-seminar__item-right">
          <h3>
            Начало следующего сеанса и последующего обсуждения, где участники пар меняются ролями.
          </h3>
        </div>
      </div>
    </div>
    <div class="showmore">
      <p>*Расписание может немного изменяться</p>
    </div>
  </div>
</section>