<section class="interview">
    <div class="interview__container container">
        <h2>Узнайте больше о майке, посмотрев интервью с ним</h2>
        <div class="interview__grid">
            <div class="interview__item">
                <img src="img/youtube video.png" alt="">
            </div>
            <div class="interview__item">
                <img src="img/youtube video.png" alt="">
            </div>
            <div class="interview__item">
                <img src="img/youtube video.png" alt="">
            </div>
            <div class="interview__item">
                <img src="img/youtube video.png" alt="">
            </div>
            <div class="interview__item">
                <img src="img/youtube video.png" alt="">
            </div>
            <div class="interview__item">
                <img src="img/youtube video.png" alt="">
            </div>
        </div>
    </div>
</section>