<section class="search">
    <div class="search__container _container">
        <div class="search__title">
            <h1>Результаты поиска: “КЭАЗ”</h1>
            <p>Найдено 50 результатов:</p>
        </div>
        <div class="search__result">
            <div class="pagination">
    <a href="" class="active-page">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <span>...</span>
    <a href="">75</a>
</div>
            <div class="search__grid">
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 676,35 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 597,05 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 203,53 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 821,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 937,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 676,35 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 597,05 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 203,53 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 821,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 937,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 352,70 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 676,35 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 597,05 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 1 203,53 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 821,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
                <div class="product-item">
    <a href="product.html" class="img"><img src="img/image 38.png" alt=""></a>
    <h4><a href="">318388 КЭАЗ Автоматический выключатель дифференциального тока АД14 четырехполюсный, тип АС, хар-ка С, 25А, 100mA, 4.5кА (АД14-43C25-АC-УХЛ4 4.5кА)</a></h4>
    <p>Цена: <span> 937,00 руб.</span></p>
    <a href="product.html" class="buy-btn">Заказать</a>
</div>
            </div>
            <div class="pagination">
                <a href="" class="active-page">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <span>...</span>
                <a href="">75</a>
            </div>
        </div>
    </div>
</section>