<header class="header">
	<div class="header__container container">
		<a href="/" class="logo"><img src="img/logo.png" alt=""></a>
		<ul class="menu">
			<li><a href="">Преимущества</a></li>
			<li><a href="">Экскурсия</a></li>
			<li><a href="">О нас</a></li>
			<li><a href="">Схема зала</a></li>
			<li><a href="">Партнеры</a></li>
			<li><a href="">Контакты</a></li>
		</ul>
		<button>
			<svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="12" y="0.5" width="20" height="2" rx="1" fill="white" />
				<rect y="14.5" width="32" height="2" rx="1" fill="white" />
				<rect x="12" y="28.5" width="20" height="2" rx="1" fill="white" />
			</svg>
		</button>
	</div>
</header>