<div class="callback-modal dropdown" id="callback-modal">
    <div class="callback-modal__container _container">
        <div class="callback-modal__title">
            <h2>Оставить заявку</h2>
            <button class="clous-modal" onclick="clousDropDowns()">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="39" height="39" rx="4.5" fill="#FF9900"/>
                    <rect x="0.5" y="0.5" width="39" height="39" rx="4.5" stroke="#333333"/>
                    <path d="M11 11L29 29" stroke="black"/>
                    <path d="M11 29L29 11" stroke="black"/>
                </svg>                    
            </button>
        </div>
        <div class="callback-modal__form">
            <form action="">
                <div class="callback-modal__grid">
                    <label for="" class="input-text">ФИО<input type="text" placeholder="Как к вам обращаться"></label>
                    <label for="" class="input-text">Защитный код<input type="text" placeholder="Текст с картинки:"><span class="required">*</span></label>
                    <label for="" class="input-text">E-mail<input type="text" placeholder="Напишите свою почту"><span class="required">*</span></label>
                    <div class="code-img">
                        <img src="img/ece6b17203337678b92a1f18db342334.png" alt="">
                    </div>
                    <label for="" class="input-text">Телефон<input type="text" placeholder="+7 (777) 777 - 77 - 77"></label>
                    <label for="" class="checkbox">
                        <input type="checkbox" name="" id="">
                        <span></span>
                        <p>Согласие на обработку данных</p>
                    </label>
                    <label for="" class="input-text">Комментарий <textarea name="" id="" cols="30" rows="10" placeholder="Задайте интересующий вопрос"></textarea> </label>
                    <label for="" class="input-file">
                        <input type="file" name="" id="">
                        <span>Прикрепить файл</span>
                    </label>
                </div>
                <label for="" class="input-btn"><input type="submit" value="Заказать"></label>
            </form>
        </div>
    </div>
</div>