<div class="libery-today">
    <div class="libery-today__title">
        <h4>Библиотека сегодня</h4>
    </div>
    <div class="libery-today__content">
        <div class="libery-today__item">
            <span class="icon">
                <svg width="110" height="110" viewBox="0 0 110 110">
                    <use href="/img/sprite.svg#library-kiosk-icon"></use>
                </svg>
            </span>
            <h5>Библиотечный киоск</h5>
            <p>У нас в киоске: книги, подарки, товары для чтения</p>
        </div>
        <div class="libery-today__item">
            <span class="icon">
                <svg width="110" height="110" viewBox="0 0 110 110">
                    <use href="/img/sprite.svg#publishing-icon"></use>
                </svg>
            </span>
            <h5>Издательство</h5>
            <p>Поможем вам издать вашу книгу: от рукописи до готового тиража. А так же:</p>
            <ul>
                <li>
                    <p>Ксерокопирование;</p>
                </li>
                <li>
                    <p>Печать, брошюр, визиток;</p>
                </li>
                <li>
                    <p>Сканирование;</p>
                </li>
                <li>
                    <p>Распечатка с электронных носителей;</p>
                </li>
                <li>
                    <p>Ламинирование</p>
                </li>
            </ul>
        </div>
        <div class="libery-today__item">
            <span class="icon">
                <svg width="110" height="111" viewBox="0 0 110 111">
                    <use href="/img/sprite.svg#game-mania-icon"></use>
                </svg>
            </span>
            <h5>Игромания</h5>
            <p>Разнообразные игры для каждого — от классики настольных игр до современных PS5</p>
        </div>
        <div class="libery-today__item">
            <span class="icon">
                <svg width="110" height="111" viewBox="0 0 110 111">
                    <use href="/img/sprite.svg#library-tour-icon"></use>
                </svg>
            </span>
            <h5>Библиотечные туры</h5>
            <p>Разнообразные игры для каждого — от классики настольных игр до современных PS5</p>
        </div>
        <div class="libery-today__item">
            <span class="icon">
                <svg width="110" height="111" viewBox="0 0 110 111">
                    <use href="/img/sprite.svg#workspace-icon"></use>
                </svg>
            </span>
            <h5>Рабочее пространство</h5>
            <p>Командная работа, генерация идей и воплощение проектов в библиотеке. Библиотека — это не только книги, но и помощь в развитии бизнеса! Предоставляем рабочее пространство и консультации</p>
        </div>
    </div>
</div>