@charset "UTF-8";

:root {
  --black-text: #22120A;
  --white-text: #FFF;
  --pink-text: #FFAD99;
  --blue-text: #0000FF;
  --green-text: #00FF00;
  --main-blue: #0C49B1;
  --light-grey: #ECE9E9;
  --light-blue: #6992D8;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "sans-serif";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "sans-serif";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.gap-10 {
  gap: 10px;
}

.flex.gap-20 {
  gap: 20px;
}

.flex.gap-30 {
  gap: 30px;
}

.flex.gap-40 {
  gap: 40px;
}

.flex.gap-50 {
  gap: 50px;
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.grid.column-3 {
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.grid.column-4 {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.grid.column-5 {
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
}

.grid.gap-10 {
  grid-gap: 10px;
}

.grid.gap-20 {
  grid-gap: 20px;
}

.grid.gap-30 {
  grid-gap: 30px;
}

.grid.gap-40 {
  grid-gap: 40px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button.height-40 {
  height: 40px;
}

.button.height-50 {
  height: 50px;
}

.button.height-70 {
  height: 70px;
}

.button.bg-pink {
  background: #FFAD99;
  border: unset;
}

.button.padding-30 {
  padding: 0 30px;
}

.button.padding {
  padding: 8px 20px;
}

body {
  color: #000;
  font-size: 16px;
  font-family: "sans-serif";
  background-color: #fff;
}

body._lock {
  overflow: hidden;
}

.container {
  max-width: 1520px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.contact-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 6px;
  color: var(--black-text);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.logo {
  width: 100%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.logo img {
  width: 100%;
  max-width: 80px;
  display: block;
}

.logo span {
  color: var(--Main-blue, #0C49B1);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.menu li a {
  color: #4A4A4A;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  cursor: pointer;
}

.menu li a::before {
  content: "";
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  background: #4A4A4A;
}

.menu li a:hover::before {
  width: 100%;
}

.swiper-pagination {
  width: 100%;
  inset: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.swiper-pagination .swiper-pagination-bullet {
  position: relative;
  inset: 0;
  width: 100%;
  max-width: 116px;
  display: block;
  border-radius: 5px;
  background: rgba(139, 185, 231, 0.3);
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #FFAD99;
}

.section-title {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.section-title h2 {
  color: #FFF;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.section-title p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section-title.black h2 {
  color: #4A4A4A;
}

.section-title.black p {
  color: #777;
}

.burger-btn {
  width: 30px;
  display: block;
  padding: 0;
  margin: 0;
  background: unset;
  position: relative;
}

.burger-btn span {
  width: 100%;
  height: 2px;
  margin-bottom: 9px;
  position: relative;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  display: block;
  background: #4A4A4A;
}

.burger-btn span:last-child {
  margin-bottom: 0;
}

.burger-btn.close span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.burger-btn.close span:nth-child(2) {
  opacity: 0;
}

.burger-btn.close span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.button {
  border-radius: 10px;
  background: var(--main-blue);
  height: 44px;
  width: 100%;
  gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-text);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.button.no-bg {
  background: transparent;
  color: var(--main-blue);
  border: 1px solid var(--main-blue);
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  width: 100%;
}

.header .header__top {
  width: 100%;
  padding: 20px 20px 0;
}

.header .header__top .header__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-grey);
}

.header .header__top .header__container .header__top-contacts {
  width: 100%;
  max-width: 738px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.header .header__top .header__container .header__top-contacts .header__top-bts {
  width: 100%;
  max-width: 336px;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__menu {
  width: 100%;
  padding: 24px 20px 0;
}

.header .header__menu .header__container {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--light-grey);
}

.header .header__menu .header__container .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
  border-radius: 10px;
  padding: 16px;
  background: -webkit-gradient(linear, left top, right top, color-stop(11.63%, #284A85), color-stop(92.39%, #6992D8));
  background: -o-linear-gradient(left, #284A85 11.63%, #6992D8 92.39%);
  background: linear-gradient(90deg, #284A85 11.63%, #6992D8 92.39%);
}

.header .header__menu .header__container .menu li a {
  color: var(--White, #FFF);
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.header .header__search {
  width: 100%;
  padding: 24px 20px;
}

.header .header__search .header__container .flex {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 4px 4px 4px 16px;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  background: var(--white);
}

.header .header__search .header__container .flex .search-in {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: 200px;
  padding-right: 16px;
  border-right: 1px solid var(--light-blue);
}

.header .header__search .header__container .flex .search-in select {
  color: var(--black-text, #22120A);
  font-family: "Roboto Condensed";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  height: 100%;
}

.header .header__search .header__container .flex .search-input {
  width: 100%;
}

.header .header__search .header__container .flex .search-input input {
  width: 100%;
  background: unset;
  border: unset;
  color: var(--black-text, #22120A);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 0 16px;
  height: 100%;
}

.header .header__search .header__container .flex .button {
  min-width: 110px;
  max-width: 110px;
}

.main {
  width: 100%;
  padding: 16px 20px 80px;
}

.main .main__container .main__banner {
  width: 100%;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 164px;
  border-radius: 10px;
  padding: 0 40px;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(5%, #FF6201), color-stop(41%, #C00000)) bottom right/50% 50% no-repeat, -webkit-gradient(linear, right top, left bottom, color-stop(5%, #FF6201), color-stop(41%, #C00000)) bottom left/50% 50% no-repeat, -webkit-gradient(linear, right bottom, left top, color-stop(5%, #FF6201), color-stop(41%, #C00000)) top left/50% 50% no-repeat, -webkit-gradient(linear, left bottom, right top, color-stop(5%, #FF6201), color-stop(41%, #C00000)) top right/50% 50% no-repeat, var(--White, #FFF);
  background: -o-linear-gradient(top left, #FF6201 5%, #C00000 41%) bottom right/50% 50% no-repeat, -o-linear-gradient(top right, #FF6201 5%, #C00000 41%) bottom left/50% 50% no-repeat, -o-linear-gradient(bottom right, #FF6201 5%, #C00000 41%) top left/50% 50% no-repeat, -o-linear-gradient(bottom left, #FF6201 5%, #C00000 41%) top right/50% 50% no-repeat, var(--White, #FFF);
  background: linear-gradient(to bottom right, #FF6201 5%, #C00000 41%) bottom right/50% 50% no-repeat, linear-gradient(to bottom left, #FF6201 5%, #C00000 41%) bottom left/50% 50% no-repeat, linear-gradient(to top left, #FF6201 5%, #C00000 41%) top left/50% 50% no-repeat, linear-gradient(to top right, #FF6201 5%, #C00000 41%) top right/50% 50% no-repeat, var(--White, #FFF);
}

.main .main__container .main__banner .main__banner-title {
  width: 100%;
  max-width: 468px;
}

.main .main__container .main__banner .main__banner-title h3 {
  color: var(--White, #FFF);
  /* H1 */
  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 16px;
}

.main .main__container .main__banner .main__banner-title span {
  color: var(--White, #FFF);
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
}

.main .main__container .main__banner .main__banner-event {
  width: 100%;
  max-width: 508px;
}

.main .main__container .main__banner .main__banner-event p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  color: var(--White, #FFF);
  font-family: "Roboto Condensed";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 48px */
}

.main .main__container .main__banner .main__banner-event p span {
  color: var(--White, #FFF);
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 64px */
}

.main .main__container .main__banner .main__banner-years {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 304px;
}

.main .main__container .main__banner .main__banner-years span {
  color: var(--White, #FFF);
  font-family: Oswald;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  /* 48px */
}

.main .main__container .main__banner .main__banner-years .icon {
  position: absolute;
  top: -58px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .main__container .main__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 40px;
}

.main .main__container .main__content .main__content-left {
  width: 100%;
  max-width: 1130px;
}

.main .main__container .main__content .main__content-left .main__swiper {
  width: 100%;
  position: relative;
  margin-bottom: 80px;
}

.main .main__container .main__content .main__content-left .main__swiper .slideprev,
.main .main__container .main__content .main__content-left .main__swiper .slidenext {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  left: 24px;
  width: 32px;
}

.main .main__container .main__content .main__content-left .main__swiper .slidenext {
  right: 24px;
  left: unset;
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide {
  width: 100%;
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide .main__swiper-item {
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 64px 0 154px;
  background: var(--Liner-blue, linear-gradient(90deg, #284A85 11.63%, #6992D8 92.39%));
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide .main__swiper-item .text {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide .main__swiper-item .text h3 {
  color: var(--White, #FFF);
  margin-bottom: 8px;
  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 494px;
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide .main__swiper-item .text p {
  color: var(--White, #FFF);
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  margin-bottom: 24px;
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide .main__swiper-item .text .button {
  background: var(--Light-blue, #6992D8);
  max-width: 138px;
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide .main__swiper-item .img {
  position: absolute;
  right: -122px;
  top: -42px;
  max-width: 528px;
  width: 100%;
}

.main .main__container .main__content .main__content-left .main__swiper .swiper-wrapper .swiper-slide .main__swiper-item .img img {
  width: 100%;
}

.main .main__container .main__content .main__content-left .main__events {
  width: 100%;
}

.main .main__container .main__content .main__content-left .main__events .main__events-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.main .main__container .main__content .main__content-left .main__events .main__events-title h4 {
  color: var(--Black-text, #22120A);
  font-family: Oswald;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main .main__container .main__content .main__content-left .main__events .main__events-title a {
  color: var(--Main-blue, #0C49B1);
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 25.2px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.main .main__container .main__content .main__content-left .main__events .grid {
  width: 100%;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 28px 40px;
}

.libery-today {
  width: 100%;
  max-width: 350px;
}

.libery-today .libery-today__title {
  width: 100%;
  margin-bottom: 24px;
}

.libery-today .libery-today__title h4 {
  color: var(--Black-text, #22120A);
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.libery-today .libery-today__content {
  width: 100%;
}

.libery-today .libery-today__content .libery-today__item {
  width: 100%;
  padding: 24px;
  border-radius: 10px;
  border: 1px solid var(--Light-grey, #ECE9E9);
  background: var(--White, #FFF);
  margin-bottom: 20px;
}

.libery-today .libery-today__content .libery-today__item:last-child {
  margin-bottom: 0;
}

.libery-today .libery-today__content .libery-today__item .icon {
  margin: 0 auto 16px;
  display: block;
  width: 110px;
  height: 110px;
}

.libery-today .libery-today__content .libery-today__item h5 {
  color: var(--Black-text, #22120A);
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 16px;
}

.libery-today .libery-today__content .libery-today__item p {
  color: var(--Black-text, #22120A);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.libery-today .libery-today__content .libery-today__item ul {
  margin-left: 16px;
}

.libery-today .libery-today__content .libery-today__item ul li {
  list-style: disc;
}

.event-item {
  width: 100%;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1170pxpx) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1520px) {
  .container {
    max-width: 1170px;
  }

  .menu li a {
    font-size: 16px;
  }
}

@media (max-width: 1170pxpx) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .section-title h2 {
    font-size: 28px;
  }

  .section-title p {
    font-size: 16px;
  }
}