<section class="main">
    <img src="img/Group 1597882527.png" alt="" class="main__bg">
    <div class="main__animations" id="main-animation">
        <div class="main__animations-item">
            <img src="img/Rectangle 26 (2).png" alt="">
        </div>
        <div class="main__animations-item">
            <img src="img/Rectangle 26.png" alt="">
        </div>
        <div class="main__animations-item">
            <img src="img/Rectangle 5.png" alt="">
        </div>
        <div class="main__animations-item">
            <img src="img/Rectangle 27 (1).png" alt="">
        </div>
    </div>
    <div class="main__container _container">
        <h1 class="animate__backInDown wow">Захватывающий мир <br>современного ТВ</h1>
        <p>Смотри любимые телеканалы вместе с Ламро!</p>
        <div class="main__buttons">
            <button>Регистрация</button>
            <a href="#convenient">
                Запустить на ТВ
                <svg width="44" height="22" viewBox="0 0 44 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 9.6C1.2268 9.6 0.6 10.2268 0.6 11C0.6 11.7732 1.2268 12.4 2 12.4V9.6ZM42.9899 11.9899C43.5367 11.4432 43.5367 10.5568 42.9899 10.0101L34.0804 1.1005C33.5337 0.553771 32.6472 0.553771 32.1005 1.1005C31.5538 1.64724 31.5538 2.53367 32.1005 3.0804L40.0201 11L32.1005 18.9196C31.5538 19.4663 31.5538 20.3528 32.1005 20.8995C32.6472 21.4462 33.5337 21.4462 34.0804 20.8995L42.9899 11.9899ZM2 12.4H42V9.6H2V12.4Z" fill="white"/>
                </svg>                    
            </a>
        </div>
    </div>
</section>