<div class="terms-modal modal" id="terms-modal">
    <div class="terms-modal__container _container">
        <button class="clous-btn" onclick="showModal()">
            <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.2466 0.785156L1.24658 27.7852M1.24658 0.785156L28.2466 27.7852" stroke="#CCBF89" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>                
        </button>
        <div class="terms-modal__text">
            <h2>Пользовательское соглашение</h2>
            <p>Заполняя данную регистрационную форму, вы предоставляете своё информированное согласие в пользу ООО «Хэдхантер» (ИНН 7718620740, 129085, г. Москва, ул. Годовикова, д. 9, стр. 10), в соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных», на осуществление с размещаемыми вами персональными данными (фамилия, имя, адрес электронной почты, наименование компании, телефон) следующих действий: сбор, запись, систематизация, хранение, уточнение (обновление или изменение), использование, распространение, предоставление, обезличивание, блокирование, удаление и уничтожение — в целях направления по указанному вами электронному адресу любых информационных сообщений, включая рекламу. Настоящее согласие предоставляется без ограничения срока обработки персональных данных, но до момента отзыва пользователем согласия на обработку своих персональных данных.</p>
            <button onclick="showModal()">Хорошо</button>
        </div>
    </div>
</div>