<section class="convenient" id="convenient">
    <div class="convenient__container _container">
        <div class="convenient__title animate__backInDown wow">
            <h2>Удобнее чем когда-либо</h2>
            <p>Просто скачайте приложение на свой телевизор</p>
        </div>
        <div class="convenient__grid">
            <div class="convenient__item animate__fadeInRight wow">
                <div class="convenient__item-img">
                    <img src="img/Samsung_Orig_Wordmark_WHITE_RGB 2.png" alt="">
                </div>
                <div class="convenient__item-text">
                    <img src="img/Samsung_Orig_Wordmark_WHITE_RGB 2.png" alt="">
                    <p><span>1</span>Откройте Apps на вашем телевизоре Samsung от 2015 года</p>
                    <p><span>2</span>Введите в поисковой строке Lamro TV</p>
                    <p><span>3</span>Установите приложение</p>
                    <p><span>4</span>Запустите и смотрите ТВ</p>
                </div>
            </div>
            <div class="convenient__item animate__fadeInDown wow">
                <div class="convenient__item-img">
                    <img src="img/LG_logo_(2015) 1.png" alt="">
                </div>
                <div class="convenient__item-text">
                    <img src="img/LG_logo_(2015) 1.png" alt="">
                    <p><span>1</span>Откройте LG Content Store на вашем телевизоре LG</p>
                    <p><span>2</span>Введите в поисковой строке Lamro TV</p>
                    <p><span>3</span>Установите приложение</p>
                    <p><span>4</span>Запустите и смотрите ТВ</p>
                </div>
            </div>
            <div class="convenient__item animate__fadeInUp wow">
                <div class="convenient__item-img">
                    <img src="img/Android_tv_logo 1.png" alt="">
                </div>
                <div class="convenient__item-text">
                    <img src="img/Android_tv_logo 1.png" alt="">
                    <p><span>1</span>Откройте Play Store на вашем Android TV</p>
                    <p><span>2</span>Введите в поисковой строке Lamro TV STB</p>
                    <p><span>3</span>Установите приложение</p>
                    <p><span>4</span>Запустите и смотрите ТВ</p>
                    <a href="">Установить сейчас</a>
                </div>
            </div>
            <div class="convenient__item animate__fadeInLeft wow">
                <div class="convenient__item-img">
                    <img src="img/Mask group (2).png" alt="">
                </div>
                <div class="convenient__item-text">
                    <img src="img/Mask group (2).png" alt="">
                    <p><span>1</span>Откройте Apps на вашем телевизоре Amazon fire TV</p>
                    <p><span>2</span>Введите в поисковой строке Lamro TV</p>
                    <p><span>3</span>Установите приложение</p>
                    <p><span>4</span>Запустите и смотрите ТВ</p>
                </div>
            </div>
        </div>
    </div>
</section>